<div class="page-header">
    <ul>
        <li>
            <a 
                href="/dressing-room/" 
                class="{{#if page_name '==' 'dressingRoom'}}b{{/if}}">
                Dressing Room
            </a>
        </li>
        <li>
            <a 
                href="/manage-members/" 
                class="{{#if page_name '==' 'manageMembers'}}b{{/if}}">
                Manage Members
            </a>
        </li>
        <li>
            <a  
                href="javascript:void(0);" 
                class="{{#if page_name '==' 'assignedOrders'}}b{{/if}}">
                Assigned Orders
            </a>
        </li>
        <li>
            <a 
                href="javascript:void(0);" 
                class="{{#if page_name '==' 'weddingDetails'}}b{{/if}}">
                Wedding Details
            </a>
        </li>
        <li>
            <a 
                href="javascript:void(0);" 
                class="{{#if page_name '==' 'makeAnAppointment'}}b{{/if}}">
                Make an Appointment
            </a>
        </li>
        <li>
            <a 
                href="javascript:void(0);" 
                class="{{#if page_name '==' 'styleQuiz'}}b{{/if}}">
                Style Quiz
            </a>
        </li>
    </ul>
</div>