{{~inject 'blogJson' post.body}}
<article class="blog">
    <div class="hide" id="blog-desc">
        {{{post.body}}}
    </div>
    <div id="topBanner"></div>
    {{> BP/components/common/divider}}
    <div class="content"></div>
    {{> BP/components/common/divider}}
    <div class="blockElementFullscreenImage" id="blockElementFullscreenImage"></div>
    <div class="blockElement3ImagesScreenWidth" id="blockElement3ImagesScreenWidth"></div>
    <div class="blockElementImages2ColumnRight" id="blockElementImages2ColumnRight"></div>
    {{> BP/components/common/divider}}
    <div class="blockElementImageLeftCopyRight" id="blockElementImageLeftCopyRight"></div>
    
</article>