<footer class="footer" role="contentinfo">
    <div class="container-footer container">

        <div class="footer-image__container">
            <img class="footer-image" src="https://cdn11.bigcommerce.com/s-7kdijiqhnq/images/stencil/original/image-manager/logo.png?t=1660051195&_gl=1*1kfius4*_ga*MzU1NDE4MzAxLjE2NTg4Njk0NzE.*_ga_WS2VZYPC6G*MTY2MDA1MTE3NS4xNi4xLjE2NjAwNTEyMDcuMjg.">
        </div>

        <section class="footer-info">

            <article class="footer-info-col" data-section-type="footer-subscription">
                {{#if settings.show_newsletter_box}}
                    {{> components/common/subscription-form}}
                {{/if}}
            </article>

        </section>

        <div class="footer-copyright">
            <p class="powered-by">&copy; 2010 - {{moment date "YYYY"}} Allure Bridals, Inc. All rights reserved. Images or logos may not be reproduced without permission.</p>
            <p class="designed-by">Designed and maintained by <a href="https://www.badpixel.io/" target="_blank" >badpixel®</a></p>
        </div>

    </div>
</footer>
