<footer class="footer" role="contentinfo">
    <div class="container-footer container">

        <div class="footer-image__container">
            <img class="footer-image" src="https://cdn11.bigcommerce.com/s-7kdijiqhnq/images/stencil/original/image-manager/logo.png?t=1660051195&_gl=1*1kfius4*_ga*MzU1NDE4MzAxLjE2NTg4Njk0NzE.*_ga_WS2VZYPC6G*MTY2MDA1MTE3NS4xNi4xLjE2NjAwNTEyMDcuMjg.">
        </div>

        <section class="footer-info">

            <article class="footer-info-col" data-section-type="footer-subscription">
                {{#if settings.show_newsletter_box}}
                    {{> components/common/subscription-form}}
                {{/if}}
            </article>

            <article class="footer-info-col" data-section-type="footer-collections">
                <h3 class="footer-info-heading">Collections</h3>
                <ul class="footer-info-list">
                    <li><a href="#" class="footer-info__link">Allure Bridals</a></li>
                    <li><a href="#" class="footer-info__link">Allure Men</a></li>
                    <li><a href="#" class="footer-info__link">Madison James</a></li>
                    <li><a href="#" class="footer-info__link">Disney Fairy Tale</a></li>
                    <li><a href="#" class="footer-info__link">Wilderly</a></li>
                    <li><a href="#" class="footer-info__link">Abella</a></li>
                </ul>
            </article>

            <article class="footer-info-col" data-section-type="footer-information">
                <h3 class="footer-info-heading">Information</h3>
                <ul class="footer-info-list">
                    <li><a href="#" class="footer-info__link">About Allure</a></li>
                    <li><a href="#" class="footer-info__link">Trunk Shows</a></li>
                    <li><a href="#" class="footer-info__link">Inspiration</a></li>
                    <li><a href="#" class="footer-info__link">Try It On</a></li>
                    <li><a href="#" class="footer-info__link">Become a Retailer</a></li>
                </ul>
            </article>

            <article class="footer-info-col" data-section-type="footer-information">
                <h3 class="footer-info-heading">More</h3>
                <ul class="footer-info-list">
                    <li><a href="#" class="footer-info__link">Privacy Policy</a></li>
                    <li><a href="#" class="footer-info__link">Counterfeit Awareness</a></li>
                    <li><a href="#" class="footer-info__link">Customer Login</a></li>
                    <li><a href="#" class="footer-info__link">Retailer Login</a></li>
                    <li><a href="#" class="footer-info__link">Do not sell my personal information</a></li>
                    <li><a href="#" class="footer-info__link">Site by badpixel®</a></li>
                </ul>
            </article>

        </section>

        <div class="footer-copyright">
            <p class="powered-by">&copy; 2010 - 2022 Allure Bridals, Inc. All rights reserved. Images or logos may not be reproduced without permission.</p>
        </div>

    </div>
</footer>
