<nav class="pagination" aria-label="pagination">
    <ul class="pagination-list preview">
    {{#if previous}}
            <li class="pagination-item pagination-item--previous">
                <a class="pagination-link"
                   href="{{previous}}"
                   {{#unless reload}}data-faceted-search-facet{{/unless}}
                   aria-label="{{lang 'common.previous'}}"
                >
                   <span>{{lang 'common.previous'}}</span> 
                </a>
            </li>
        {{/if}}
    </ul>
    <ul class="pagination-list">
        {{#each links}}
            <li class="pagination-item {{#if this.number '==' ../current}}pagination-item--current{{/if}}">
                <a class="pagination-link"
                   href="{{this.url}}"
                   {{#unless reload}}data-faceted-search-facet{{/unless}}
                   {{#if this.number '==' ../current}}
                   aria-current="page"
                   data-pagination-current-page-link
                   {{/if}}
                   aria-label="{{lang 'common.paginator.page_of' current=this.number total=../links.length}}"
                >
                 <span class="background-rot"></span> <span class="number">{{this.number}}</span>  
                </a>
            </li>
        {{/each}}

        
    </ul>
    <ul class="pagination-list next">
        {{#if next}}
        <li class="pagination-item pagination-item--next">
            <a class="pagination-link"
               href="{{next}}"
               {{#unless reload}}data-faceted-search-facet{{/unless}}
               aria-label="{{lang 'common.next'}}"
            >
               <span>{{lang 'common.next'}}</span> 
            </a>
        </li>
        {{/if}}
     </ul>
</nav>
