<h3 class="footer-info-heading__form">Get the Latest Updates & News</h3>

<form class="form" action="{{urls.subscribe.action}}" method="post">
    <fieldset class="form-fieldset">
        <input type="hidden" name="action" value="subscribe">
        <input type="hidden" name="nl_first_name" value="bc">
        <input type="hidden" name="check" value="1">
        <div class="form-field">
            <label class="form-label is-srOnly" for="nl_email">{{lang 'common.email_address'}}</label>
            <div class="form-prefixPostfix">
                <input class="form-input"
                       id="nl_email"
                       name="nl_email"
                       type="email"
                       placeholder="ENTER YOUR EMAIL"
                       aria-describedby="alertBox-message-text"
                       aria-required="true"
                       required
                >
                <button class="button"
                       type="submit"
                >SIGN UP</button>
            </div>
            <div class="footer-newsletter-summary">
                Join our mailing list to stay informed about the latest trends in bridal. Plus, be the first to know when we post new contests and giveaways!
            </div>

            <div class="footer-social__header">
                <h3 class="footer-info-heading">Follow us</h3>
            </div>
            <div class="footer-social__container">
                {{#each social_media}}
                    <a href="{{url}}" class="social-icon icon--{{display_name}}" target="_blank" title="{{{capitalize display_name}}}">
                        <svg>
                            <use xlink:href="#icon-{{display_name}}" />
                        </svg>
                    </a>
                {{/each}}
            </div>
        </div>
    </fieldset>
</form>
