<div class="page-asidebar">
    <ul>
        <li>
            <a 
                href="javascript:void(0);" 
                class="{{#if page_name '==' 'weddingStudios'}}b{{/if}}">
                Wedding Studios
            </a>
        </li>
        <li>
            <a 
                href="javascript:void(0);" 
                class="{{#if page_name '==' 'myOrders'}}b{{/if}}">
                My Orders
            </a>
        </li>
        <li>
            <a 
                href="javascript:void(0);" 
                class="{{#if page_name '==' 'returns'}}b{{/if}}">
                Returns
            </a>
        </li>
        <li>
            <a 
                href="javascript:void(0);" 
                class="{{#if page_name '==' 'addressed'}}b{{/if}}">
                Addresses
            </a>
        </li>
        <li>
            <a 
                href="javascript:void(0);" 
                class="{{#if page_name '==' 'accountSettings'}}b{{/if}}">
                Account Settings
            </a>
        </li>
    </ul>
</div>