---
blog:
    posts:
        limit: 5
        pages: 3
        summary: 9999999
---
{{#partial "page"}}
{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

<div class="inspiration-page">
    <div class="header-section">
        {{#unless theme_settings.hide_blog_page_heading }}
        <h2>{{ blog.name }}</h2>
        <p>{{ blog.description }}</p>
        {{/unless}}
    </div>
    <div class="filterbutton">
        <input type="hidden" id="inspirationfilter" value="{{#each blog.posts}}{{#each tags}}{{name}}|{{url}},{{/each}}{{/each}}" class="tags" />
        <ul id="filterbuttons" class="tags"></ul>
    </div>
    <div class="content">
        <div class="blocks">
            {{#each blog.posts}}
                    <div class="block">
                        <div class="image-block">
                            <p class="postdate mobileonly"><span class="datespan">{{date_published}}</span></p>
                            {{#JSONparse (sanitize this.summary)}}
                                {{#each this}}
                                    {{#if @index '===' 0}}
                                        <img src="{{ horizontal_image }}" alt="" class="horizontal_image" />
                                        <img src="{{ vertical_image }}" alt="" class="vertical_image" />
                                    {{/if}}
                                {{/each}}
                            {{/JSONparse}}
                            <p class="postdate desktoponly"><span class="datespan">{{date_published}}</span></p>
                        </div>
                        <div class="content-block">
                            <div class="caption">
                                {{#JSONparse (sanitize this.summary)}}
                                    {{#each this}}
                                        {{#if @index '===' 0}}
                                            <span class="initials">{{initials}}</span>
                                            <h3>{{blog_name}}</h3>
                                            <p>{{blog_short_description}}</p>
                                        {{/if}}
                                    {{/each}}
                                {{/JSONparse}}
                                <a href="{{url}}" class="button button--secondary" >{{lang 'blog.get_inspired'}}</a>
                            </div>
                        </div>
                    </div>
        {{/each}}
        </div>
    </div>
    {{> components/common/paginator pagination.blog}}
</div>
{{/partial}}
{{> layout/base}}