---
blog:
    posts:
        limit: 5
        pages: 3
        summary: 9999999
---
{{#partial "page"}}
<div class="inspiration-page">
    <div class="header-section">
        {{#unless theme_settings.hide_blog_page_heading }}
        <h2>{{ blog.name }}</h2>
        <p>{{ blog.description }}</p>
        {{/unless}}
    </div>
    <div class="filterbutton">
        <input type="hidden" id="inspirationfilter" value="{{#each blog.posts}}{{#if @index '===' 1}}{{#JSONparse (sanitize this.summary)}}{{#each this}}{{tags}}{{/each}}{{/JSONparse}}{{/if}}{{/each}}" class="tags" />
        <ul id="filterbuttons" class="tags"></ul>
    </div>
    <div class="content">
        <div class="blocks">
            {{#each blog.posts}}
                {{#if @index '===' 1}} 
                {{#JSONparse (sanitize this.summary)}}
                {{#each this}}
                {{#if @index '===' 0}} 
                    <div class="block">
                        <div class="image-block">
                            <img src="{{ horizontal_image }}" alt="" class="horizontal_image" />
                            <img src="{{ vertical_image }}" alt="" class="vertical_image" />
                            <p class="postdate" data-date="{{publish_date}}">{{publish_date}}</p>
                        </div>
                        <div class="content-block">
                            <div class="caption">
                                <span class="initials">{{initials}}</span>
                                <h3>{{blog_name}}</h3>
                                <p>{{blog_short_description}}</p>
                                <a href="{{blog_url}}" class="button button--secondary" >GEt Inspired</a>
                            </div>
                        </div>
                    </div>
                    {{/if}}
                {{/each}}
            {{/JSONparse}}
        {{/if}}
    {{/each}}
        </div>
    </div>
    {{> components/common/paginator pagination.blog}}
</div>
<!-- {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}} 
<section class="page">
    {{#unless theme_settings.hide_blog_page_heading }}
        <h1 class="page-heading">{{ blog.name }}</h1>
    {{/unless}}
    {{#each blog.posts}}
        {{#if @index '===' 1}}
            {{#JSONparse (sanitize this.summary)}}
                {{#each this}}
                    {{blog_name}}<br>
                    {{blog_short_description}}<br>
                    {{initials}}<br>
                    {{publish_date}}<br>
                    <img data-src="{{ horizontal_image }}" class="lazyload">
                    <img data-src="{{ vertical_image }}" class="lazyload">
                    {{tags}}
                {{/each}}
            {{/JSONparse}}
        {{/if}}
    {{/each}}
    {{> components/common/paginator pagination.blog}}
</section>-->
{{/partial}}
{{> layout/base}}