<article
    class="card
    {{#if alternate}} card--alternate{{/if}}"
    data-test="card-{{id}}"
    {{#if settings.data_tag_enabled}}
        data-event-type="{{event}}"
        data-entity-id="{{id}}"
        data-position="{{position}}"
        data-name="{{name}}"
        data-product-category="
        {{#each category}}
            {{#if @last}}
                {{this}}
            {{else}}
                {{this}},
            {{/if}}
        {{/each}}"
        data-product-brand="{{brand.name}}"
        data-product-price="
        {{#or customer (unless theme_settings.restrict_to_login)}}
            {{#if price.with_tax}}
                {{price.with_tax.value}}
            {{else}}
                {{price.without_tax.value}}
            {{/if}}
        {{else}}
            {{lang 'common.login_for_pricing'}}
        {{/or}}"
    {{/if}}>
    <figure class="card-figure">
        {{#if stock_level '===' 0}}
            {{#if theme_settings.pdp_sold_out_label '===' ''}}
                {{> components/products/product-badge
                    badge-type='sold-out'
                    badge_view=theme_settings.product_sold_out_badges
                    badge_label=(lang "page_builder.pdp_sold_out_label")
                }}
            {{else}}
                {{> components/products/product-badge
                    badge-type='sold-out'
                    badge_view=theme_settings.product_sold_out_badges
                    badge_label=theme_settings.pdp_sold_out_label
                }}
            {{/if}}
        {{else}}
            {{#or price.sale_price_with_tax.value price.sale_price_without_tax.value}}
                {{#if theme_settings.pdp_sale_badge_label '===' ''}}
                    {{> components/products/product-badge
                        badge-type='sale'
                        badge_view=theme_settings.product_sale_badges
                        badge_label=(lang "page_builder.pdp_sale_badge_label")
                    }}
                {{else}}
                    {{> components/products/product-badge
                        badge-type='sale'
                        badge_view=theme_settings.product_sale_badges
                        badge_label=theme_settings.pdp_sale_badge_label
                    }}
                {{/if}}
            {{/or}}
        {{/if}}

        <a href="{{url}}"
           class="card-figure__link"
           aria-label="{{> components/products/product-info}}"
           {{#if settings.data_tag_enabled}} data-event-type="product-click" {{/if}}
        >
            <div class="card-img-container">
                {{> components/common/responsive-img
                    image=image
                    class="card-image"
                    fallback_size=theme_settings.productgallery_size
                    lazyload=theme_settings.lazyload_mode
                    default_image=theme_settings.default_image_product
                }}
            </div>
        </a>
    </figure>
    <div class="card-body">
        <h4 class="card-title">
            <a aria-label="{{> components/products/product-info}}"
               href="{{url}}" class="h4"
               {{#if settings.data_tag_enabled}} data-event-type="product-click" {{/if}}
            >
             Style {{name}}
            </a>
            <a href="/wishlist.php?action=addwishlist&product_id={{id}}" class="titleIcon"></a>
        </h4>

        <div class="card-text body-3" data-test-info-type="price">
            {{summary}}
        </div>
    </div>
</article>
