<nav class="navBar navBar--sub navBar--account">
    <h2><span id="initials" data-name="{{customer.name}}"></span>{{{first (split customer.name " ")}}}'s Account</h2>
    <ul class="navBar-section">
        <li class="navBar-item {{#if account_page '===' 'orders'}}is-active{{/if}}" style="display: none">
            <a class="navBar-action" href="{{urls.account.orders.all}}">{{lang 'account.nav.orders'}}</a>
        </li>
        {{#if settings.returns_enabled}}
            <li class="navBar-item {{#if account_page '===' 'returns'}}is-active{{/if}}" style="display: none">
                <a class="navBar-action" href="{{urls.account.returns}}">{{lang 'account.nav.returns'}}</a>
            </li>
        {{/if}}
        <li class="navBar-item {{#if account_page '===' 'messages'}}is-active{{/if}}" style="display: none">
            <a class="navBar-action" href="{{urls.account.inbox}}">{{lang 'account.nav.messages' num_new_messages=customer.num_new_messages}}</a>
        </li>
        
        {{#if settings.show_payment_methods}}
            <li class="navBar-item {{#if account_page '===' 'payment_methods'}}is-active{{/if}}" style="display: none">
                <a class="navBar-action" href="{{urls.account.payment_methods.all}}">{{lang 'account.nav.payment_methods'}}</a>
            </li>
        {{/if}}
        {{#if settings.show_wishlist}}
            <li class="navBar-item {{#if account_page '===' 'wishlists'}}is-active{{/if}}">
                <a class="navBar-action" href="{{urls.account.wishlists.all}}">
                    <svg>
                        <use xlink:href="#icon-heart" />
                    </svg>
                    <span>{{lang 'common.mydressingroom'}}</span>
                </a>
            </li>
        {{/if}}
        <li class="navBar-item {{#if account_page '===' 'addresses'}}is-active{{/if}}" style="display: none">
            <a class="navBar-action" href="{{urls.account.addresses}}">
                {{lang 'account.nav.addresses'}}
            </a>
        </li>
        <li class="navBar-item {{#if account_page '===' 'recent_items'}}is-active{{/if}}" style="display: none">
            <a class="navBar-action" href="{{urls.account.recent_items}}">{{lang 'account.nav.recently_viewed'}}</a>
        </li>
        <li class="navBar-item {{#if account_page '===' 'settings'}}is-active{{/if}}">
            <a class="navBar-action" href="{{urls.account.details}}">
                <svg id="person">
                    <use xlink:href="#icon-person{{#if account_page '===' 'settings'}}2{{/if}}" />
                </svg>
                <span>{{lang 'common.personalinfo'}}</span>
            </a>
        </li>
        <li class="navBar-item">
            <a class="navBar-action" href="{{urls.auth.logout}}" aria-label="{{lang 'common.logout'}}">
                <svg id="logout">
                    <use xlink:href="#icon-logout" />
                </svg>
                <span>{{lang 'common.logout'}}</span>
            </a>
        </li>
    </ul>
</nav>
