@media (max-width: '900px') {
    header.header-shadow {
        display: none !important;
        &.opensearch {
            display: block !important;
            width: 100%;
            background-color: #b0aaaa;
            height: 100%;
            position: fixed;
            right: 0;
            z-index: 99;
        }
    }

    header.header.is-open + .header-shadow {
        display: block !important;
    }
}

.header {
    background-color: $header-bg;
    border-bottom: container("border");
    height: $header-height;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: zIndex("higher");

    a.mobileMenu-icons {
        display:none
    }

    @media (max-width: '900px') {

        .navPages-quickSearch.mobile-only {
            width: 100%;
            left: 0;
            position: fixed;
            background-color: white;
            top: 85px;
            display: none;
            padding: 12px 15px 0 15px;
        }
        
        .navPages-quickSearch.mobile-only .form .form-field {
            padding: 0px
        }

        a.navPage-subMenu-action.navPages-action.has-subMenu i.icon.navPages-action-moreIcon {
            margin: 0px;
            border: 0px;
        }

        header.header-shadow {
            display: none;
        }
        
        header.header.is-open + header.header-shadow {
            display: block;
        }

        li.navPages-item.my-acct {
            display: flex;
            align-items: center;
            border-bottom: solid 1px #c8c6c6;
            padding: .5rem 1rem;
        }
        
        li.navPages-item.my-acct a {
            text-decoration: none;
            display: flex;
            align-items: center;
            gap: 1rem;
        }
        
        li.navPages-item.my-acct a span.navPages-action {
            font-weight: 600;
            font-size: 12px;
            line-height: 15px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: #1D1B1B;
            background-color: white;
            border-bottom: 0px;
            &.accountlink {
                font-style: normal;
                font-weight: 500;
                font-size: 10px;
                line-height: 12px;
            }
        }
        
        
        a.navPage-childList-action.navPages-action {
            display: flex;
            justify-content: space-between;
        }

        a.navPage-childList-action.navPages-action i.icon.navPages-action-moreIcon {
            margin: 0px;
            transform: rotate(0deg);
        }

        li.navPage-childList-item {
            background-color: #F1F0F0;
        }
        
        .navPage-subMenu-action:not(.navPages-action-depth-max) + .navPage-childList {
            border: 0px;
            margin: 0rem;
            padding: 0rem 0rem 0rem 1.5rem;
            background-color: #F1F0F0;
        }
        
        a.navPage-childList-action.navPages-action {
            background-color: #F1F0F0;
        }

        ul.navPages-list > li.navPages-item > a i.icon.navPages-action-moreIcon {
            transform: none;
            margin: 0px;
            svg {
                fill: stencilColor('color-allure-bridals-neutral-3');
                stroke: stencilColor('color-allure-bridals-neutral-3');
            }
        }
        
        ul.navPages-list > li.navPages-item > a.navPages-action.has-subMenu.is-open {
            justify-content: start
        }
        
        ul.navPages-list > li.navPages-item > a.navPages-action.has-subMenu.is-open span {
            order: 2
        }
        
        ul.navPages-list > li.navPages-item > a.navPages-action.has-subMenu.is-open {
            position: relative;
            i {
                transform: rotate(180deg);
                margin-right: 10px;
                position: absolute;
                left: 10px;
            }
        }

        ul.navPages-list {
            background-color: white;
        }
        
        ul.navPages-list.navPages-list--user {
            border: 0px;
            margin-top: 0px;
            background-color: #F7F4F0;
            padding: 16px;
            height: auto;
        }

        a.navPage-subMenu-action.navPages-action {
            font-weight: 600;
            font-size: 12px;
            line-height: 15px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: #1D1B1B;
            padding: 12.5px 30px;
            background-color: white;
            border-bottom: 1px solid #F1F0F0;
        }
        
        li.navPage-subMenu-item {
            padding: 0px;
        
        }
        
        span.collapsible-icon-wrapper {
            width: auto;
        }
        
        nav.navPages {
            display: flex;
            flex-flow: column;
            justify-content: space-between;
            background-color: white;
            padding: 0px;
        }
        
        a.navPages-action {
            font-weight: 600;
            font-size: 12px;
            line-height: 15px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: #1D1B1B;
            padding: 12.5px 30px;
            background-color: white;
            border-bottom: 1px solid #F1F0F0;
        }
        

        header.header-shadow {
            display: none;
        }
        

        .header-svg__border {
            border-bottom: solid 1px #C8C6C6;
        }
        
        .header-svg__border svg {
            margin-bottom: -6.5px;
        }
        
        .header-svg__border {
            position: absolute;
            z-index: 99;
            top: 74px;
            width: 100%;
            left: 0;
            display: flex !important;
            justify-content: center;
        }

        .desktop-only{display:none;}

        .navPages-container.is-open {
            top: 85px;
            padding-top: 0;
        }
        .mobileMenu-header.mobile-only {
            width: 100%;
            position: absolute;
            background-color: white;
            left: 0px;
            height: 85px;
            display: flex;
            flex-flow: row;
            justify-content: space-around;
            align-items: center;
            padding-left: 12%;
        }

        height: 85px;
        display: flex;
        flex-flow: row;
        justify-content: space-around;
        align-items: center;
        padding-left: 12%;

        
        .header-logo-image-container {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        a.mobileMenu-icons {
            display: flex;
        }
        
        .header-navigation__cta-container {
            width: 55%;
        }
        
        &.is-open {
            align-items: start;
            width: 90%;
            .mobileMenu-header.mobile-only {
                width: 111%;
                padding-left: 13.5%;
            }
            header.header-shadow {
                width: 10%;
                background-color: #b0aaaa;
                height: 100%;
                position: absolute;
                right: 0;
                z-index: 99;
            }

            .header-svg__border {
                width: 111%;
            }
        }
        
        a.mobileMenu-toggle.is-open,a.mobileMenu-icons {
            height: 85px;
            display: flex;
            align-items: center;
        }
        
        .mobileMenu-toggle.is-open .mobileMenu-toggleIcon {
            position: unset;
        }
        
    }


    @include breakpoint("medium") {
        
        .mobile-only{
            display:none;
        }

        border-bottom: container("border");
        display: flex;
        flex-direction: column;
        height: auto;
        overflow: visible;
        position: relative;
    }

    &.is-open {
        height: 100%;

        @include breakpoint("medium") {
            height: auto;
        }
    }
}

.is-open + header.header-shadow {
    width: 10%;
    background-color: #b0aaaa;
    height: 100%;
    position: absolute;
    right: 0;
    z-index: 99;
}

header.header-shadow {
    display: block;
}

header.header {
    position: fixed;
    border-color: white;
}

header.header{
    ul {
        margin: 0;
        flex: 1;
    }
    .sub-site__navigation-image {
        flex: 2;
        img {
            width: 100%;
        }
    }
    .sub-site__navigation {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    
    .header-logo.header-logo--center {
        margin: 0 auto;
        text-align: center;
        max-width: 200px;
    }
    .header-navigation__cta, .header-navigation__container{
        display:none;
    }

    .header-navigation__cta-links a.header-navigation__cta:hover span {
        text-decoration: underline;
    }

    .header-svg__border{

        display: none;

    }

    @include breakpoint("medium") {

        .mobile-only{
            display: none;
        }

        .header-svg__border{
            display: block;
        }

        .account-modal {
            width: 315px;
            //display: block;
            background-color: white;
            position: absolute;
            top: 85px;
            border: 1px solid #F0EBE6;      
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

            a.button.button--primary {
                width: 100%;
                padding-left: 8%;
                padding-right: 8%;
                margin-bottom: 0;
            }
            
            a.button.button--secondary {
                width: 60%;
                padding: 18px;
            }
        }

        .account-modal__title {
            font-family: 'prata';
            font-style: normal;
            font-weight: 400;
            font-size: 22px;
            line-height: 30px;
            text-align: left;
            color: #000000;
            margin-bottom: 16px;
        }

        .account-modal__welcome {
            padding: 24px;
        }

        .account-modal__cta {
            display: flex;
        }

        .account-modal__retailers {
            background-color: #F7F4F0;
            padding: 16px 24px;
            .label {
                font-weight: 600;
                font-size: 12px;
                line-height: 15px;
                letter-spacing: 0.1em;
                text-transform: uppercase;
                color: #000000;
                margin-bottom: 12px;
            }
        }

        .account-modal__retailers {
            border-top: solid 1px #C8C6C6;
            text-align: left;
        }

        .account-modal__retailers div {
            font-weight: 600;
            font-size: 12px;
            line-height: 15px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: #000000;
            padding-bottom: 14px;
        }

        .account-modal__retailers a {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
            color: #BC8372;
        }

        a, input, label{
            -webkit-tap-highlight-color: transparent;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            outline: none !important;
        }
        a:focus, input:focus, label:focus{
            outline: none !important;
        }

        label svg:hover{
            cursor: pointer;
        }

        label.search-icon {
            position: absolute;
            right: 18px;
            top: 16px;
        }
        .header-container {
            border-top: 4px solid #AC634D;
            border-bottom: 1px solid #C8C6C6;
        }
        .header-navigation__cta-container {
            margin: 0;
            text-align: center;
            padding: 40px 0px;
        }

        .header-navigation__container {
            display: block;
        }   

        ul.site-navigation {
            display: flex;
            max-width: 800px;
            justify-content: space-around;
            list-style-type: none;
            margin: auto;
        }

        svg.site-navigation_svg {
            height: auto;
        }

        li.site-navigation__link:hover > a {
            border-bottom: 2px solid #AC634D;
        }

        li.site-navigation__link > a {
            border-bottom: 2px solid transparent;
            padding-bottom: 4px;
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 15px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: #1D1B1B;
            text-decoration: none;
        }

        li.site-navigation__link a{
            text-decoration: none;
        }

        .header-navigation__cta-container {
            display: flex;
            width: 100%;
        }
        
        
        .header-navigation__cta {
            height: 50px;
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: space-between;
        }
        
        .header-navigation__cta-links a {
            text-decoration: none;
        }

        a.header-navigation__cta span {
            font-style: normal;
            font-weight: 500;
            font-size: 10px;
            line-height: 12px;
            text-align: center;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: #1D1B1B;
        }
        
        form.form {
            margin-right: auto;
            .form-field{
                margin: 0;
            }
        }

        .form .form-field .form-input {
            border-radius: 0px;
            border-top: 0px;
            border-left: 0px;
            border-right: 0px;
            border-bottom: 1px solid #F1E8E7;
            padding: 10px 0px;
            min-height: inherit;
            width: 318px;
        }
        
        .form .form-field .form-input::placeholder {
            font-weight: 500;
            font-size: 10px;
            line-height: 12px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: #1D1B1B;
        }

        li.site-navigation__link:hover .sub-site__navigation { 
            display: block;
        } 

        .sub-site__navigation {
            position: absolute;
            width: 100%;
            display: none;
            background-color: white;
            padding: 40px;
            z-index: 9999;
            top: 150px;
            left: 0px;
            
            .sub-site__navigation-inner {
                display: flex;
                max-width: 91.71429rem;
                margin: auto;
                justify-content: space-evenly;
                gap: 40px;
            }
            ul {
                list-style: none;
            }

            li.sub-site__title {
                font-style: normal;
                font-weight: 600;
                font-size: 12px;
                line-height: 16px;
                letter-spacing: 0.1em;
                text-transform: uppercase;
                color: #1D1B1B;
                margin-bottom: 16px;
            }
            
            li.sub-site__text {
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 22px;
                color: #1D1B1B;
                margin-bottom: 8px;
            }
        } 
    }
}















//
// Mobile Menu Toggle
//
// 1. Animate lines from 'x' to hamburger
// -----------------------------------------------------------------------------

.mobileMenu-toggle {
    @include square($header-toggle-width);
    display: inline-block;
    font-size: 0;
    left: 0;
    overflow: hidden;
    padding: 0 remCalc(18);
    position: absolute;
    z-index: zIndex("high");

    @include breakpoint("medium") {
        display: none;
    }

    .mobileMenu-toggleIcon,
    .mobileMenu-toggleIcon::before,
    .mobileMenu-toggleIcon::after {
        background: $header-font-color;
        content: "";
        display: block;
        height: 2px;
        position: absolute;
        transform: rotate(0deg);
        transition: transform 100ms ease-in, top 100ms ease-in 150ms, bottom 100ms ease-in 150ms; // 1
        width: remCalc(20);
    }

    .mobileMenu-toggleIcon {
        top: remCalc(27);
        transition: background-color 10ms ease-in 100ms;
    }

    .mobileMenu-toggleIcon::before {
        top: -0.5rem;
    }

    .mobileMenu-toggleIcon::after {
        bottom: -0.5rem;
    }

    &.is-open .mobileMenu-toggleIcon {
        background-color: transparent;
        transition-delay: 100ms;

        &::before,
        &::after {
            background-color: $header-font-color;
            bottom: auto;
            top: auto;
            transition: transform 100ms ease-in 150ms, top 100ms ease-in, bottom 100ms ease-in; // Animate lines from hamburger to 'x'
        }

        &::before {
            top: 0;
            transform: rotate(45deg);
        }

        &::after {
            bottom: 0;
            transform: rotate(-45deg);
        }

    }
}
