{{#partial "head"}}
    {{{stylesheet 'assets/css/maintenance.css'}}}
{{/partial}}

{{#partial "page"}}
    <main>
        <section>
            <div class="txt-wrapper">
                <div class="store-img">
                    <img src="{{cdn 'assets/icons/store-logo.svg'}}"
                        alt="{{settings.store_logo.title}}" title="{{settings.store_logo.title}}"
                    >
                </div>
                <div class="maintenance-msg">
                    {{{settings.maintenance.message}}}
                </div>
            </div>
            <div class="img-wrapper">
                <img src="https://cdn11.bigcommerce.com/s-7kdijiqhnq/images/stencil/original/image-manager/maintenance.png" alt="maintenance">
            </div>
        </section>
        
        <footer><small></small></footer>
    </main>
{{/partial}}
{{> layout/empty}}
