* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Inter Regular";
}

main section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main section .txt-wrapper,
main section .img-wrapper {
    flex: 1;
}
main section .txt-wrapper {
    text-align: center;
    color: #000000;
}
main section .txt-wrapper h2 {
    text-transform: capitalize;
    font-family: "Prata";
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 12px;
}
main section .txt-wrapper p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin: 0;
}
main section .img-wrapper img {
    width: 100%;
}
.txt-wrapper {
    display: flex;
    flex-direction: column;
    gap: 100px;
    margin: 84px auto;
}
.maintenance-msg {
    padding: 0 20px;
}

@media only screen and (min-width: 768px) {
    .txt-wrapper {
        gap: 300px;
    }

    main section {
        flex-direction: row;
    }
}