$heading-color: #ffffff;
$base-color: #D9D3D3;
$background: #282828;
$font-family: unset;
$form-color: #f7f4f0;
$social-color: #4D4D4D;

footer.footer {
    background-color: $background;
    display: flex;

    .container-footer {
        display: inline-block;
        width: 100%;
        padding: 80px 0px;
        margin: auto;
    }

    .form-field, form.form {
        margin-bottom: 0px;
        padding-bottom: 0px;
    }

    h3.footer-info-heading__form {
        font-family: $font-family;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        color: $form-color;
        margin: 0px;
    }

    .footer-newsletter-summary {
        font-family: $font-family;
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 20px;
        color: $form-color;
        margin-top: 8px;
    }

    .footer-social__container {
        display: flex;
        justify-content: space-between;
        width: 60%;
    }

    .footer-social__header{
        margin-top: 24px;
    }
    
    .social-icon {
        width: 32px;
        height: 32px;
        display: flex;
        border-radius: 50px;
        background-color: $social-color;

        svg {
            margin: auto;
            width: 12px;
            height: 14px;
        }
        &.icon--facebook {
            svg {
                width: 8px;
            }
        }
    }

    .footer-image__container {
        text-align: center;
    }

    section.footer-info {
        display: flex;
        flex-flow: row;
        margin: 40px;
    }
    
    article.footer-info-col[data-section-type="footer-subscription"] {
        width: 32%;
        margin-right: 8%;
    }
    
    article.footer-info-col {
        width: 20%;
    }

    h3.footer-info-heading {
        font-family: $font-family;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        margin: 0 0 8px 0;
        color: $heading-color;
    }

    ul.footer-info-list {
        margin: 0;
    }

    li::marker {
        content: none;
    }

    a.footer-info__link {
        font-family: $font-family;
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        text-decoration: none;
        color: $base-color;
    }

    p.powered-by {
        font-family: $font-family;
        font-weight: 300;
        font-size: 10px;
        line-height: 12px;
        text-align: center;
        color: $heading-color;
        margin-bottom: 0px;
    }
    p.designed-by ,.designed-by a {
        font-family: $font-family;
        font-weight: 300;
        font-size: 10px;
        line-height: 12px;
        text-align: center;
        color: $heading-color;
        margin-bottom: 0px;
        text-decoration: none;
        margin-top: 10px;
    }
    .designed-by a:hover {
        text-decoration: underline;
    }

    input#nl_email::placeholder {
        font-family: $font-family;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #B0B0B0;
    }
    

    button.button::before {
        content: unset;
    }
    
    .form-prefixPostfix .button,.form .form-field .form-input {
        height: 3.2rem;
        border-radius: 0px;
        border: 1px solid #bc8372;
    }
    
    .form-prefixPostfix .button {
        background-color: #bc8372;
        color: white;
        padding: 16px 12px;
        width: inherit;
        line-height: 0px;
    }
    
    .form-prefixPostfix .button:hover {
        background-color: white;
        color: #bc8372;
    }

    @media (max-width: '900px') {
        
        section.footer-info {
            flex-flow: column;
        }
        
        article.footer-info-col {
            width: 100% !important;
            margin: 18px 0;
        }
        
        [data-section-type="footer-subscription"] {
            order: 4
        }
        
        section.footer-info {
            margin: 1rem;
        }
        
    }
        
}


