{{inject 'recaptchaTitle' (lang 'forgot_password.recaptcha_title')}}
{{#partial "page"}}
{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
    <div class="account account--fixedSmall forgot-password__page">
        <h2 class="form-heading">RESET PASSWORD</h2>
        <p class="form-sub_heading">We'll send you a link to reset your password.</p>
        <div class="divider"></div>
        {{#if forms.forgot_password.error}}
            {{> components/common/alert/alert-error forms.forgot_password.error}}
        {{/if}}
        <form action="{{urls.auth.send_password_email}}" class="form forgot-password-form" method="post">
            {{inject 'useValidEmail' (lang 'forms.validate.common.email_address')}}
            <div class="form-field form-prefixPostfix form-prefixPostfix--centeredColumn wrap">
                <label class="form-label" for="email">{{lang 'common.email_address'}}</label>
                <input class="form-input" name="email" id="email" type="email" formnovalidate> 
                {{{ forms.forgot_password.recaptcha.markup}}}
                <button type="submit" class="button button--primary form-prefixPostfix-button--postfix">{{lang 'reset_password.heading' }}</button>
                <p><a href="mailto:someone@example.com" class="sendemail"><svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9.3086 14.1722H5.83493C4.68386 14.1722 3.75073 13.2391 3.75073 12.088V6.53012C3.75073 5.37905 4.68386 4.44592 5.83493 4.44592H14.1717C15.3228 4.44592 16.2559 5.37905 16.2559 6.53012V10.0038" stroke="#BC8372" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M16.229 6.26269L11.0687 9.27701C10.4193 9.65641 9.61574 9.65641 8.96626 9.27701L3.7793 6.24713" stroke="#BC8372" stroke-linecap="round" stroke-linejoin="round"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M14.0342 12.8337L14.1718 12.9734L14.3094 12.8337C14.5602 12.5789 14.9027 12.4354 15.2602 12.4354C15.6178 12.4354 15.9603 12.5789 16.2111 12.8337V12.8337C16.7341 13.3711 16.7341 14.2273 16.2111 14.7647L15.1423 15.85C14.8864 16.1101 14.5367 16.2565 14.1718 16.2565C13.8069 16.2565 13.4573 16.1101 13.2013 15.85L12.1325 14.7648C11.6095 14.2273 11.6095 13.3712 12.1325 12.8337V12.8337C12.3833 12.5789 12.7258 12.4355 13.0834 12.4354C13.4409 12.4354 13.7834 12.5789 14.0342 12.8337Z" stroke="#BC8372" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    SEND EMAIL</a></p>
            </div>
        </form>
    </div>
{{/partial}}
{{> layout/base}}