<div class="imageWithContentSlider">
    <ul>
        <li>
            <div class="leftblock">
                <img src="https://cdn11.bigcommerce.com/s-7kdijiqhnq/images/stencil/original/image-manager/blockcarousel.png" alt="image left block" />
            </div>
            <div class="rightblock">
                <div class="caption">
                    <h2 class="title"></h2>
                    <p class="content"></p>
                    <a href="" class="buttonlink"></a>
                </div>
            </div>
        </li>
    </ul>
</div>
{{> BP/components/common/divider}}