{{> BP/components/common/divider}}
<div class="blockElementStory">
    <div class="heading-section">
        <h2 class="title"></h2>
        <p class="date"></p>
        <div class="leftBottom">
            <img src="https://cdn11.bigcommerce.com/s-7kdijiqhnq/images/stencil/original/image-manager/storyblock-left-480.png" alt="" />
        </div>
    </div>
    <div class="rightside-section">
        <div class="rightcol">
            <img src="https://cdn11.bigcommerce.com/s-7kdijiqhnq/images/stencil/original/image-manager/storyblock-center.png" class="topleft" alt=""/>
            <div class="caption">
                <p class="content"></p>
                <a href="" class="buttonlink"></a>
            </div>
        </div>
        <div class="topright">
            <img src="https://cdn11.bigcommerce.com/s-7kdijiqhnq/images/stencil/original/image-manager/storyblock-right-480.png"  alt="" />
        </div>
    </div>
</div>
{{> BP/components/common/divider}}