<div class="imageWithContentSlider">
    <ul data-slick='{"slidesToShow": 1, "slidesToScroll": 1}'>
        <li>
            <div class="blockrow">
                <div class="leftblock block">
                    <img src="https://cdn11.bigcommerce.com/s-7kdijiqhnq/images/stencil/original/image-manager/blockcarousel.png" alt="image left block" />
                </div>
                <div class="rightblock block">
                    <div class="caption">
                        <h2 class="title"></h2>
                        <p class="content"></p>
                        <a href="" class="buttonlink"></a>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
{{> BP/components/common/divider}}