.account-section-page {
    @include breakpoint("medium") {
        display: flex;
        justify-content: space-between;
        margin: 80px 0;
    }
    .section-title {
        .editdetails { 
            color: stencilColor('color-neutral-normal');
            margin-left: 20px;
            cursor: pointer;
            font-family: stencilFontFamily('default-font-regular');
            font-style: normal;
            font-weight: 500;
            font-size: remCalc(12px);
            line-height:remCalc(15px);
            letter-spacing: 0.1em;
            text-transform: uppercase;
        }
    }
    .navBar--sub {
        text-align: left;
        flex-basis: 100%;
        margin: 24px 0;
        @include breakpoint("medium") {
            flex-basis: 30%;
            margin: 0;
        }
        h2 {
            margin: 0;
            font-family: stencilFontFamily('prata-font');
            font-style: normal;
            font-weight: 400;
            font-size: remCalc(20px);
            line-height: remCalc(25px);
            color: stencilColor("color-default-neutral-3");
            #initials {
                background: stencilColor('color-neutral-normal');
                font-family: stencilFontFamily('stay-classy-font');
                text-transform: uppercase;
                font-style: normal;
                font-weight: 400;
                width: 20px;
                height: 20px;
                color: white;
                padding: 7px 11px 2px 11px;
                margin-right: 6px;
                border-radius: 50%;
                font-size: 12px;
            }
        }
        .navBar-item {
            display: block;
            margin: 16px 0;
            .navBar-action {
                font-family: stencilFontFamily('default-font-light');
                font-style: normal;
                font-weight: 400;
                font-size: remCalc(14px);
                line-height: remCalc(12px);
                color: stencilColor("color-default-neutral-3");
                display: flex;
                align-items: center;
                gap: 16px;
                svg {
                    width: 20px;
                    height: 20px;
                    stroke: stencilColor("color-default-neutral-3");
                    &#person, &#logout {
                        stroke: none;
                    }
                }
            }
            &.is-active {
                border-bottom: 0;
                .navBar-action {
                    color: stencilColor("color-default-primary-1");
                    svg {
                        stroke: stencilColor("color-default-primary-1");
                        &#person, &#logout {
                            use {
                                stroke: stencilColor("color-default-primary-1");
                            }
                        }
                    }
                }
            }
        }
    }
    .rightaccountside {
        flex-basis: 100%;
        @include breakpoint("medium") {
            flex-basis: 70%;
        }
        .section-title {
            font-family: stencilFontFamily('prata-font');
            font-style: normal;
            font-weight: 400;
            font-size: remCalc(22px);
            line-height: remCalc(30px);
            color: stencilColor("color-default-neutral-2");
            border-bottom: 1px solid stencilColor("color-allure-bridals-neutral-4");
            padding-bottom: 24px;
            margin: 0;
        }
        .wishlists-table .table-actions {
            width: 305px;
        }
    }
    .productGrid .product {
        @include breakpoint("small") {
            width: 50%;
        }
        @include breakpoint("medium") {
            width: 33.33%;
        }
    }
}
.editaccount {
    .form {
        width: 70%;
    }
    .form .form-field .form-label {
        font-family: stencilFontFamily('default-font-bold');
        font-style: normal;
        font-weight: 600;
        font-size: remCalc(12px);
        line-height: remCalc(16px);
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: stencilColor("color-allure-bridals-neutral-1");
    }
    #updatePro {
        display: none;
        .back {
            float: right;
            color: stencilColor('color-neutral-normal');
            cursor: pointer;
            font-family: stencilFontFamily('default-font-regular');
            font-style: normal;
            font-weight: 500;
            font-size: remCalc(12px);
            line-height:remCalc(15px);
            letter-spacing: 0.1em;
            text-transform: uppercase;
        }
    }
    .infotable {
        .inforow {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            padding: 0;
            border-bottom: none;
            @include breakpoint("medium") {
                gap: 24px;
                flex-direction: row;
                padding: 48px 0;
                border-bottom: 1px solid stencilColor("color-allure-bridals-neutral-4");
            }
            .infocol {
                border-bottom: 1px solid stencilColor("color-allure-bridals-neutral-4");
                flex-basis: 100%;
                padding: 24px 0;
                @include breakpoint("medium") {
                    border-bottom: none;
                    flex-basis: calc(50% - 12px);
                    padding: 0;
                }
                p {
                    margin: 0;
                    font-family: stencilFontFamily('default-font-regular');
                    font-style: normal;
                    font-weight: 500;
                    font-size: remCalc(12px);
                    line-height:remCalc(15px);
                    letter-spacing: 0.1em;
                    text-transform: uppercase;
                    color: stencilColor('color-text');
                    &.label {
                        margin-bottom: 10px;
                        font-family: stencilFontFamily('default-font-bold');
                        font-style: normal;
                        font-weight: 600;
                        font-size: remCalc(14px);
                        line-height: remCalc(17px);
                    }
                }
            }
            &:last-child {
                border-bottom: 0;
            }
        }
    }
}
.form-inlineMessage {
    display: none;
}
.form-field--error .form-inlineMessage {
    display: block;
}
.wishlists-table {
    .button {
        @include breakpoint("medium") {
            width: auto !important;
        }        
    }
}
.asterisk {
    color: stencilColor('color-error');
}
.navBar--account {
    display: block;
}
.wishlists-table {
    .table-thead {
        tr {
            th {
                &:first-child {
                    width: 30%;
                    @include breakpoint("medium") {
                        width: 25%;
                    }
                }
                &:nth-child(2), &:nth-child(3) {
                    width: 20%;
                    @include breakpoint("medium") {
                        width: 15%;
                    }
                }
                &:last-child {
                    width: 30%;
                    @include breakpoint("medium") {
                        width: 45%;
                    }
                }
            }
        }
    }
    .table-actions {
        .form-fieldset {
            display: flex;
            flex-direction: column;
            gap: 10px;
            justify-content: flex-end;
            @include breakpoint("medium") {
                flex-direction: row;
            }
            .button {
                margin: 0;
            }
        }
    }
}