.account-section-page {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    .navBar--sub {
        text-align: left;
        width: 30%;
        h2 {
            margin: 0;
            font-family: stencilFontFamily('prata-font');
            font-style: normal;
            font-weight: 400;
            font-size: remCalc(20px);
            line-height: remCalc(25px);
            color: stencilColor("color-default-neutral-3");
        }
        .navBar-item {
            display:block;
            margin: 20px 0;
            .navBar-action {
                font-family: stencilFontFamily('default-font-light');
                font-style: normal;
                font-weight: 400;
                font-size: remCalc(14px);
                line-height: remCalc(12px);
                color: stencilColor("color-default-neutral-3");
            }
            &.is-active {
                border-bottom: 0;
                .navBar-action {
                    color: stencilColor("color-default-primary-1");
                }
            }
        }
    }
    .rightaccountside {
        width: 70%;
        .section-title {
            font-family: stencilFontFamily('prata-font');
            font-style: normal;
            font-weight: 400;
            font-size: remCalc(22px);
            line-height: remCalc(30px);
            color: stencilColor("color-default-neutral-2");
            border-bottom: 1px solid stencilColor("color-allure-bridals-neutral-4");
            padding-bottom: 20px;
            margin-bottom: 20px;
        }
    }
}
.editaccount {
    .form {
        width: 70%;
    }
    .form .form-field .form-label {
        font-family: stencilFontFamily('default-font-bold');
        font-style: normal;
        font-weight: 600;
        font-size: remCalc(12px);
        line-height: remCalc(16px);
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: stencilColor("color-allure-bridals-neutral-1");
    }
}