.imageWithContentSlider {
    ul {
        margin: 0;
        padding: 0;
        li .blockrow {
            @include breakpoint("medium") {
                display: flex;
                align-items: center;
            }
            background: stencilColor("color-allure-bridals-primary-2");
            display: block;
            .block { 
                width: 100%;
                @include breakpoint("medium") {
                    width: 50%;
                }
                img {
                    width: 100%; 
                }
            }
            .rightblock {
                padding: 5%;
            }
            .caption {
                .title {
                    font-family: stencilFontFamily('stay-classy-font');
                    font-style: normal;
                    font-weight: 400;
                    font-size: remCalc(40px);
                    margin-bottom: 0;
                    margin-top: 15px;
                    line-height: remCalc(70px);
                    letter-spacing: -0.01em;
                    color: stencilColor("color-secondary");
                    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
                }
                .content {
                    font-family: stencilFontFamily('default-font-light');
                    font-style: normal;
                    font-weight: 300;
                    font-size: remCalc(14px);
                    line-height: remCalc(22px);
                    color: stencilColor("color-secondary");
                    margin-bottom: 10px;
                }
                .buttonlink {
                    font-family: stencilFontFamily('default-font-regular');
                    font-style: normal;
                    font-weight: 500;
                    font-size: remCalc(12px);
                    line-height: remCalc(15px);
                    text-align: center;
                    letter-spacing: 0.1em;
                    text-transform: uppercase;
                    color: stencilColor("color-secondary");
                    text-decoration: none;
                    position: relative;
                    padding-right: 25px;
                    &::after {
                        position: absolute;
                        right: 0;
                        content: "";
                        width: 20px;
                        height: 20px;
                        background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxOCAxMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xLjE5NzU5IDYuNTQzNjdDMC45MDAzMiA2LjU0MzY3IDAuNjY2NzQ4IDYuMzEwMSAwLjY2Njc0OCA2LjAxMjgyQzAuNjY2NzQ4IDUuNzI2MTcgMC45MDAzMiA1LjQ4MTk4IDEuMTk3NTkgNS40ODE5OEgxNS44NDg5TDExLjQ0MjkgMS4wNzU5N0MxMS4yNDEyIDAuODYzNjI5IDExLjI0MTIgMC41MzQ1MDYgMTEuNDQyOSAwLjMyMjE2OEMxMS42NTUyIDAuMTA5ODMgMTEuOTg0NCAwLjEyMDQ0NyAxMi4xOTY3IDAuMzIyMTY4TDE3LjQ3MzMgNS41OTg3NkMxNy41OTAxIDUuNjk0MzIgMTcuNjY0NCA1Ljg0Mjk1IDE3LjY2NDQgNi4wMDIyMUMxNy42NjQ0IDYuMTUwODQgMTcuNjAwNyA2LjI5OTQ4IDE3LjQ5NDUgNi4zOTUwM0wxMi4xOTY3IDExLjY4MjJDMTEuOTg0NCAxMS44ODQgMTEuNjU1MiAxMS44ODQgMTEuNDQyOSAxMS42ODIyQzExLjI0MTIgMTEuNDgwNSAxMS4yNDEyIDExLjE0MDggMTEuNDQyOSAxMC45MzkxTDE1Ljg0ODkgNi41NDM2N0gxLjE5NzU5WiIgZmlsbD0id2hpdGUiLz4KPC9zdmc+Cg==");
                        background-repeat: no-repeat;
                        top: 1px;
                    }
                }
            }
        }
    }
    .slick-track {
        margin-left: 0;
        margin-right: 0;
     }
     .slick-next {
         right: 0;
         top: 46%;
         width: 52px;
         height: 52px;
         padding: 0 14px;
         &::before {
             background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0yLjE5NzUxIDEwLjU0MzZDMS45MDAyNCAxMC41NDM2IDEuNjY2NjcgMTAuMzEgMS42NjY2NyAxMC4wMTI3QzEuNjY2NjcgOS43MjYwNiAxLjkwMDI0IDkuNDgxODcgMi4xOTc1MSA5LjQ4MTg3SDE2Ljg0ODhMMTIuNDQyOCA1LjA3NTg2QzEyLjI0MTEgNC44NjM1MiAxMi4yNDExIDQuNTM0NCAxMi40NDI4IDQuMzIyMDZDMTIuNjU1MiA0LjEwOTcyIDEyLjk4NDMgNC4xMjAzNCAxMy4xOTY2IDQuMzIyMDZMMTguNDczMiA5LjU5ODY1QzE4LjU5IDkuNjk0MjEgMTguNjY0MyA5Ljg0Mjg0IDE4LjY2NDMgMTAuMDAyMUMxOC42NjQzIDEwLjE1MDcgMTguNjAwNiAxMC4yOTk0IDE4LjQ5NDUgMTAuMzk0OUwxMy4xOTY2IDE1LjY4MjFDMTIuOTg0MyAxNS44ODM5IDEyLjY1NTIgMTUuODgzOSAxMi40NDI4IDE1LjY4MjFDMTIuMjQxMSAxNS40ODA0IDEyLjI0MTEgMTUuMTQwNyAxMi40NDI4IDE0LjkzOUwxNi44NDg4IDEwLjU0MzZIMi4xOTc1MVoiIGZpbGw9IiNCQzgzNzIiLz4KPC9zdmc+Cg==");
         }
     }
     .slick-prev {
         left: 0;
         top: 46%;
         width: 52px;
         height: 52px;
         padding: 0 14px;
         &::before {
             background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xOC4xMzM0IDkuNDU2NjFDMTguNDMwNyA5LjQ1NjYxIDE4LjY2NDIgOS42OTAxOSAxOC42NjQyIDkuOTg3NDZDMTguNjY0MiAxMC4yNzQxIDE4LjQzMDcgMTAuNTE4MyAxOC4xMzM0IDEwLjUxODNMMy40ODIwOCAxMC41MTgzTDcuODg4MSAxNC45MjQzQzguMDg5ODIgMTUuMTM2NyA4LjA4OTgyIDE1LjQ2NTggNy44ODgxIDE1LjY3ODFDNy42NzU3NiAxNS44OTA1IDcuMzQ2NjMgMTUuODc5OCA3LjEzNDMgMTUuNjc4MUwxLjg1NzcgMTAuNDAxNUMxLjc0MDkxIDEwLjMwNiAxLjY2NjYgMTAuMTU3MyAxLjY2NjYgOS45OTgwOEMxLjY2NjYgOS44NDk0NCAxLjczMDMgOS43MDA4IDEuODM2NDYgOS42MDUyNUw3LjEzNDMgNC4zMTgwNEM3LjM0NjYzIDQuMTE2MzIgNy42NzU3NiA0LjExNjMyIDcuODg4MSA0LjMxODA0QzguMDg5ODIgNC41MTk3NiA4LjA4OTgyIDQuODU5NSA3Ljg4ODEgNS4wNjEyMkwzLjQ4MjA4IDkuNDU2NjFMMTguMTMzNCA5LjQ1NjYxWiIgZmlsbD0iI0JDODM3MiIvPgo8L3N2Zz4K");
         }
     }
}