.blockElementStory {
    display: block;
    margin: 5% -3rem;
    @include breakpoint("medium") { 
        display:flex;
        align-items: flex-start;
        justify-content: space-between;
        margin: 5% 0;
    }

    .heading-section {
        width: 100%;
        @include breakpoint("medium") { 
            width: 45%;
        }
        h2 {
            font-family: stencilFontFamily('stay-classy-font');
            width: 70%;
            font-size:  remCalc(36px);
            line-height:  remCalc(46px);
            text-align: center;
            letter-spacing: -0.01em;
            color: stencilColor("color-default-primary-1");
            width: 360px;
            margin: 40px auto 0 auto;
            @include breakpoint("medium") { 
                width: 360px;
                font-size:  remCalc(50px);
                line-height:  remCalc(60px);
            }
        }
        .date {
            font-family: stencilFontFamily('default-font-regular');
            font-style: normal;
            font-weight: 500;
            line-height:  remCalc(15px);
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: stencilColor("color-default-neutral-3");
            text-align: center;
            margin-top: 20px;
            position: relative;
            font-size:  remCalc(10px);
            @include breakpoint("medium") { 
                font-size:  remCalc(12px);
            }
            &::before {
                position: absolute;
                left: 0;
                content: "";
                width: 25%;
                height: 20px;
                background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTg4IiBoZWlnaHQ9IjEzIiB2aWV3Qm94PSIwIDAgMTg4IDEzIiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cmVjdCB4PSIxODIiIHk9IjEuOTgxMzIiIHdpZHRoPSI2IiBoZWlnaHQ9IjYiIHRyYW5zZm9ybT0icm90YXRlKDQ1IDE4MiAxLjk4MTMyKSIgZmlsbD0iIzY5NUM1QyIgc3Ryb2tlPSJ3aGl0ZSIgc3Ryb2tlLXdpZHRoPSIyIi8+CjxyZWN0IHk9IjUuODk1NTEiIHdpZHRoPSIxODAiIGhlaWdodD0iMSIgZmlsbD0iI0M4QzZDNiIvPgo8L3N2Zz4K");
                background-repeat: no-repeat;
            }
            &::after {
                position: absolute;
                content: "";
                left: 25%;
                top: 4px;
                width: 4px;
                height: 4px;
                background: stencilColor("color-default-neutral-1");
                transform: rotate(45deg);
                outline: 3px solid stencilColor('color-secondary');
            }
        }
    }
    .rightside-section {
        width: 100%;
        margin-left: 0;
        position: relative;
        display: inline-block;
        @include breakpoint("medium") { 
            width: 55%;
            margin-left: 20px;
        }
        .topleft {
            max-width: 302px;
        }
        .topright {
            @include breakpoint("medium") { 
                width: 58%;
            }
            width: 60%;
            float: right;

            img {
                @include breakpoint("medium") { 
                    margin-top: 37px;
                }
                width: 100%;
                margin-top: 0;
            }
        }
        .caption {
            width: 78%;
            padding: 30px 0;
            display: none;
            @include breakpoint("medium") {
                display: block; 
            }
            .content {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size:  remCalc(14px);
                line-height:  remCalc(22px);
                color: stencilColor("color-default-neutral-3");
            }
        }
        .rightcol {
            @include breakpoint("medium") {
                width: 48%;
                float: left;
                position: absolute;
                margin-top: 0;
            }
            position: relative;
            float: right;
            margin-right: 0;
            width: 40%;
            margin-top: 50px;
            img {
                width: 100%;
            }
        }
    }
    .leftBottom {
        display: none;
        @include breakpoint("medium") {
            display: block;
        }
        img {
            width: 100%;
        }
    }
    .mobilecaption,.mobilebanner {
        display: block;
        @include breakpoint("medium") {
            display: none;
        }
    }
    .mobilecaption {
            padding: 10px;
    }
}



.blockElementDiscover {
    display: block;
    margin: 5% -3rem;
    @include breakpoint("medium") { 
        margin: 5% 0;
    }
    .discovery-section {
        position: relative;
        .imageflex {
            display: flex;
            justify-content: space-between;
            div {
                @include breakpoint("medium") { 
                    width: 45%;
                }
                position: relative;
                width: 48%;
                img.first {
                    margin-top: 60px;
                    @include breakpoint("medium") { 
                        position: absolute;
                        top:0;
                        left:0;
                        z-index: 8;
                        margin-top: 0;
                    }
                }
                img.second {
                    margin-top: 75px;
                    @include breakpoint("medium") { 
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        margin-top: 0;
                    }
                }
            }
        }
        .caption {
            top: 40%;
            left: 9%;
            width: 85%;
            padding: 10px 20px;
            position: absolute;
            @include breakpoint("medium") { 
                top: 20%;
                left: 30%;
                width: 40%;
                padding: 10px 30px;
            }
            background: #fff;
            z-index: 9;
        }
    }
}