.imageWithContentSlider {
    ul {
        margin: 0;
        padding: 0;
        li .blockrow {
            padding-bottom: 50px;
            background: stencilColor("color-allure-bridals-primary-2");
            display: block;
            @include breakpoint("medium") {
                display: flex;
                align-items: center;
                padding-bottom: 0;
            }
            .block { 
                width: 100%;
                @include breakpoint("medium") {
                    width: 50%;
                }
                img {
                    width: 100%; 
                }
            }
            .rightblock {
                padding: 0 1.5rem;
                @include breakpoint("small") {
                    padding: 0 10%;
                }
                @include breakpoint("medium") {
                    padding: 5%;
                }
            }
            .caption {
                .title {
                    margin-bottom: 0;
                    margin: 65px 0 10px;
                    @include breakpoint("medium") {
                        margin: 0 0 10px;
                    }
                    color: stencilColor("color-secondary");
                    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
                    @media screen and (max-width: 350px) {
                        font-size: 2.8rem;
                    }
                    @media screen and (max-width: 600px) {
                        font-size: 3rem;
                    }
                }
                .content {
                    color: stencilColor("color-secondary");
                    margin-bottom: 42px;
                    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
                }
                .buttonlink {
                    font-weight: 500;
                    text-align: center;
                    letter-spacing: 0.1em;
                    text-transform: uppercase;
                    color: stencilColor("color-secondary");
                    text-decoration: none;
                    position: relative;
                    padding-right: 25px;
                    &::after {
                        position: absolute;
                        right: 0;
                        content: "";
                        width: 20px;
                        height: 20px;
                        background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxOCAxMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xLjE5NzU5IDYuNTQzNjdDMC45MDAzMiA2LjU0MzY3IDAuNjY2NzQ4IDYuMzEwMSAwLjY2Njc0OCA2LjAxMjgyQzAuNjY2NzQ4IDUuNzI2MTcgMC45MDAzMiA1LjQ4MTk4IDEuMTk3NTkgNS40ODE5OEgxNS44NDg5TDExLjQ0MjkgMS4wNzU5N0MxMS4yNDEyIDAuODYzNjI5IDExLjI0MTIgMC41MzQ1MDYgMTEuNDQyOSAwLjMyMjE2OEMxMS42NTUyIDAuMTA5ODMgMTEuOTg0NCAwLjEyMDQ0NyAxMi4xOTY3IDAuMzIyMTY4TDE3LjQ3MzMgNS41OTg3NkMxNy41OTAxIDUuNjk0MzIgMTcuNjY0NCA1Ljg0Mjk1IDE3LjY2NDQgNi4wMDIyMUMxNy42NjQ0IDYuMTUwODQgMTcuNjAwNyA2LjI5OTQ4IDE3LjQ5NDUgNi4zOTUwM0wxMi4xOTY3IDExLjY4MjJDMTEuOTg0NCAxMS44ODQgMTEuNjU1MiAxMS44ODQgMTEuNDQyOSAxMS42ODIyQzExLjI0MTIgMTEuNDgwNSAxMS4yNDEyIDExLjE0MDggMTEuNDQyOSAxMC45MzkxTDE1Ljg0ODkgNi41NDM2N0gxLjE5NzU5WiIgZmlsbD0id2hpdGUiLz4KPC9zdmc+Cg==");
                        background-repeat: no-repeat;
                        top: 1px;
                    }
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    .slick-track {
        margin-left: 0;
        margin-right: 0;
     }
     .slick-next {
        right: 0;
        top: 46%;
        width: 52px;
        height: 52px;
        padding: 0 14px;
        &::before {
            @include nextIcon(stencilColor('color-default-primary-1'));
        }
     }
     .slick-prev {
        left: 0;
        top: 46%;
        width: 52px;
        height: 52px;
        padding: 0 14px;
        &::before {
            @include prevIcon(stencilColor('color-default-primary-1'));
        }
     }
     .slick-list {
        padding: 0 !important;
     }
}