.bp-category {
    .bp-category-header {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .bp-cat-content {
            width: 70%;
            padding-right: 30px;
            h3 {
                font-family: 'Prata';
                font-style: normal;
                font-weight: 400;
                font-size: 28px;
                line-height: 34px;
                text-align: left;
                color: #282828;
                margin-bottom: 10px;
            }
            .description {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 300;
                font-size: 14px;
                line-height: 22px;
                color: #4D4D4D;
            }
        }
        .bp-cat-image {
            width: 30%;
            position: relative;
            &::after, &::before {
                position: absolute;
                content: "";
                top: 50%;
                width: 6px;
                height: 6px;
                background: #D1B3AB;
                outline: 3px solid white;
                transform: rotate(45deg);
            }
            &::after {
                right: -6px;
            }
            &::before {
                left: -6px;
            }
        }
    }
}

.product {
    .card-body {
        padding: 10px 7px;
    }
    .card-title {
        display: flex;
        justify-content: space-between;
    }
    .card-title > a {
        font-family: stencilFontFamily('prata-font');
        font-size: remCalc(22px);
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        color: stencilColor("color-default-neutral-1");
        &.name {
            width: calc(100% - 25px);
        }
        &.titleIcon {
            position: relative;
            width: 24px;
            height: 24px;
            &::after {
                position: absolute;
                right: 0;
                content: "";
                width: 24px;
                height: 24px;
                background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCAzMiAzMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGNpcmNsZSBjeD0iMTYiIGN5PSIxNiIgcj0iMTUuNSIgc3Ryb2tlPSIjQkM4MzcyIi8+CjxwYXRoIGQ9Ik0xMy40OTk5IDExLjVDMTMuNDk5OSAxMC4zOTU0IDE0LjYxOTIgOS41IDE1Ljk5OTkgOS41QzE3LjM4MDYgOS41IDE4LjQ5OTkgMTAuNSAxOC40OTk5IDExLjVDMTguNDk5OSAxMyAxNS45OTk5IDEzLjUgMTUuOTk5OSAxNC41QzE1Ljk5OTkgMTUgMTUuOTk5OSAxNS4zODU0IDE1Ljk5OTkgMTUuMzg1NE0xNS45OTk5IDE1LjM4NTRDMTYuMzc5MiAxNS4zODU0IDE2Ljc1ODUgMTUuNDkzMSAxNy4wODk5IDE1LjcwODVMMjIuNDY0NSAxOS4yMDE5QzIzLjUwNzcgMTkuODgwMSAyMy4wMjc1IDIxLjUgMjEuNzgzMiAyMS41SDEwLjIxNjZDOC45NzIzNCAyMS41IDguNDkyMTMgMTkuODgwMSA5LjUzNTM5IDE5LjIwMTlMMTQuOTA5OSAxNS43MDg1QzE1LjI0MTMgMTUuNDkzMSAxNS42MjA2IDE1LjM4NTQgMTUuOTk5OSAxNS4zODU0WiIgc3Ryb2tlPSIjQkM4MzcyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPC9zdmc+Cg==");
                background-repeat: no-repeat;
                background-size: contain;
            }
            &:hover::after {
                position: absolute;
                right: 0;
                content: "";
                width: 24px;
                height: 24px;
                background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCAzMiAzMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGNpcmNsZSBjeD0iMTYiIGN5PSIxNiIgcj0iMTYiIGZpbGw9IiNCQzgzNzIiLz4KPHBhdGggZD0iTTEzLjQ5OTkgMTEuNUMxMy40OTk5IDEwLjM5NTQgMTQuNjE5MiA5LjUgMTUuOTk5OSA5LjVDMTcuMzgwNiA5LjUgMTguNDk5OSAxMC41IDE4LjQ5OTkgMTEuNUMxOC40OTk5IDEzIDE1Ljk5OTkgMTMuNSAxNS45OTk5IDE0LjVDMTUuOTk5OSAxNSAxNS45OTk5IDE1LjM4NTQgMTUuOTk5OSAxNS4zODU0TTE1Ljk5OTkgMTUuMzg1NEMxNi4zNzkyIDE1LjM4NTQgMTYuNzU4NSAxNS40OTMxIDE3LjA4OTkgMTUuNzA4NUwyMi40NjQ1IDE5LjIwMTlDMjMuNTA3NyAxOS44ODAxIDIzLjAyNzUgMjEuNSAyMS43ODMyIDIxLjVIMTAuMjE2NkM4Ljk3MjM0IDIxLjUgOC40OTIxMyAxOS44ODAxIDkuNTM1MzkgMTkuMjAxOUwxNC45MDk5IDE1LjcwODVDMTUuMjQxMyAxNS40OTMxIDE1LjYyMDYgMTUuMzg1NCAxNS45OTk5IDE1LjM4NTRaIiBzdHJva2U9IiNGN0Y0RjAiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8L3N2Zz4K");
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
    }
    .card-text {
        font-family: stencilFontFamily('default-font-regular');
        font-size: remCalc(12px);
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        color: stencilColor("color-default-neutral-1");
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        height: 65px;
    }
    .card-image {
        object-fit: cover;
    }
}
