.blockElementCollectionPreview {
    .previewblock {
        display: block;
        text-align: center;
        @include breakpoint("medium") { 
            display: flex;
            text-align: left;
            align-items: center;
        }
        @include breakpoint("small") { 
            text-align: left;
        }
        .caption {
            width: 100%;
            @include breakpoint("medium") { 
                width: 60%;
                padding-right: 5%;
            }
            h4 {
                font-family: stencilFontFamily('prata-font');
                font-style: normal;
                font-weight: 400;
                font-size: remCalc(34px);
                line-height: remCalc(44px);
                color: stencilColor("color-allure-bridals-neutral-1");
                @media only screen and (min-width: 2000px) {
                    font-size: remCalc(40px);
                    line-height: remCalc(50px);
                }
                @media only screen and (min-width: 2800px) {
                    font-size: remCalc(45px);
                    line-height: remCalc(65px);
                }
            }
            p {
                font-family: stencilFontFamily('default-font-regular');
                font-style: normal;
                font-weight: 400;
                font-size: remCalc(16px);
                line-height: remCalc(26px);
                color: stencilColor("color-allure-bridals-neutral-2");
                @media only screen and (min-width: 2000px) {
                    font-size: remCalc(20px);
                    line-height: remCalc(30px);
                }
                @media only screen and (min-width: 2800px) {
                    font-size: remCalc(28px);
                    line-height: remCalc(40px);
                }
            }
        }
        .imagesection {
            width: 100%;
            display: flex;
            align-items: center;
            @include breakpoint("medium") { 
                width: 40%;
                align-items: center;
            }
            .leftImg {
                width: 38%;
                float: left;
                &.half {
                    width: 50%;
                    img {
                        width: 100%;
                        right: -11px;
                        position: relative;
                     }
                }
                span {
                    position: relative;
                    &::before {
                        position: absolute;
                        content: "";
                        left: 16px;
                        top: 50%;
                        width: 6px;
                        height: 6px;
                        background: #d1b3ab;
                        outline: 3px solid #fff;
                        transform: rotate(45deg);
                        z-index: 9;
                    }
                }
                 img {
                    width: calc(100% + 20px);
                    right:-20px;
                    position: relative;
                 }
                 .dateSection {
                    margin-left: 20px;
                    padding: 20px 0;
                    p {
                        margin-bottom: 2px;
                        @media only screen and (min-width: 2000px) {
                            font-size: remCalc(20px);
                            line-height: remCalc(40px);
                        }
                        @media only screen and (min-width: 2800px) {
                            font-size: remCalc(28px);
                            line-height: remCalc(50px);
                        }
                    }
                 }
            }
            .rightImg {
                width: 62%;
                float: right;
                &.half {
                    width: 50%;
                    img:first-child {
                        padding: 0 35px 30px 35px;
                    }
                    img:nth-child(2) {
                        z-index: 9;
                        position: relative;
                        width: calc(100% + 40px);
                    }
                }
                span {
                    position: relative;
                    &::before {
                        position: absolute;
                        content: "";
                        right: -4px;
                        top: 50%;
                        width: 6px;
                        height: 6px;
                        background: #d1b3ab;
                        outline: 3px solid #fff;
                        transform: rotate(45deg);
                    }
                }
                img {
                    width: 100%;
                }
            }
        }
    }
}