.pages-custom-page-custom-form {
  .block-item {
    margin: 20px 0 !important;
  }
  .choice-box__label {
    border: none !important;
    width: auto !important;
    box-shadow: none !important;
    background-color: transparent !important;
    padding: 0 !important;
  }
  [data-role='container'] {
    position: relative;
  }
  [data-role='label'] {
    position: absolute;
    top: -1px;
    left: 18px;
    background: #ffffff !important;
    z-index: 1;
    padding: 5px;
    text-transform: uppercase;
    font-size: 12px !important;
  }
  h1,
  h4 {
    font-family: 'Prata';
    font-style: normal;
    font-weight: 400;
    color: #000000 !important;
  }
  h1 {
    font-weight: 400 !important;
    font-size: 34px !important;
    line-height: 44px !important;
  }
  h4 {
    font-weight: 400 !important;
    font-size: 22px !important;
    line-height: 30px !important;
  }
  h5 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px !important;
    line-height: 26px !important;
    color: #615d5d !important;
  }
  label {
    font-family: 'Inter' !important;
    font-style: normal;
    font-weight: 600 !important;
    font-size: 12px !important;
    line-height: 16px !important;
    letter-spacing: 0.05em !important;
    text-transform: uppercase !important;
    color: #1d1b1b !important;
  }
  #form
    div[data-role='control']:not([data-is-selected]):not([data-disabled]):not(
      [data-has-errors]
    )
    div[data-role='input-container'] {
    border-color: transparent !important;
  }
  div[data-ui-role='ui-element'][data-type='dropdown']
    > div[data-role='dropdown-skin'] {
    top: 63% !important;
  }
  #form
    div[data-role='control']
    label[data-role='choice']
    span[data-role='option-text'] {
    font-family: 'Inter' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 12px !important;
    line-height: 20px !important;
    color: #615d5d !important;
    text-transform: capitalize !important;
  }
  #form
    div[data-role='control']
    div[data-ui-role='ui-element']:not([type='file']),
  #form div[data-role='control'] div[data-role='input-container'] input,
  div[data-ui-role='ui-element'][data-type='dropdown'] > select,
  #form
    div[data-role='control']
    div[data-role='i123-input']:not([data-type='file']),
  #form
    div[data-role='control']
    input[data-role='i123-input']:not([type='radio']):not(
      [type='checkbox']
    ):not([type='reset']):not([type='hidden']):not([data-no-theme]) {
    height: 45px !important;
    background: #ffffff !important;
    border: 1px solid #d1b3ab !important;
    font-family: 'Inter' !important;
    font-style: normal;
    font-weight: 400 !important;
    font-size: 12px !important;
    line-height: 15px !important;
    color: #d1b3ab !important;
  }
  #form
    div[data-role='control']:not([data-is-selected]):not([data-disabled]):not(
      [data-has-errors]
    )
    input[data-role='i123-input'][type='checkbox']
    + label {
    background: #ffffff !important;
    border: 1px solid #ba8476 !important;
    border-radius: 3px !important;
  }
  #form
    div[data-role='control'][data-type='check-box']
    input[data-role='i123-input'][type='checkbox']:checked
    + label {
    background-color: #bc8372 !important;
    border: 1px solid #bc8372 !important;
    color: white;
  }
  #form button[data-role='submit'] {
    background-color: #bc8372 !important;
    border: 1px solid #bc8372 !important;
    font-family: 'Inter' !important;
    font-style: normal;
    text-transform: uppercase !important;
    font-weight: 600 !important;
    font-size: 12px !important;
    line-height: 15px !important;
    letter-spacing: 0.1em !important;
  }
  #form button[data-role='submit']::before {
    border: 1px solid #ffffff;
    position: absolute;
    display: block;
    content: '';
    border-radius: 3px;
    height: 35px;
    width: calc(100% - 6px);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
  }
  #form div[data-role='control'] label[data-role='label'] {
    position: absolute;
    top: 7px;
    padding: 2px;
    background: #fff;
    z-index: 9;
    left: 15px;
  }
  #form [data-role='page'][data-num-children]:not([data-num-children='0']) {
    margin: 0 auto 40px auto !important;
  }
  #form {
    padding-top: 0 !important;
  }
  #form
    [data-role='control'].button-choices
    [data-role='input-row']
    .choice-box__label {
    box-shadow: 0 2px 4px #ffffff !important;
    border: 0 !important;
    border-radius: 0 !important;
    border-width: 0 !important;
    background-color: transparent !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    width: 300px !important;
  }
  body:not([data-mouse-gesture-type])
    #form[data-loader-type='viewer']
    div[data-role='control']:not([data-is-drag-source]):not(
      [data-disabled]
    ):not([data-has-errors])
    div[data-role='input-container']:not([data-disabled]):hover,
  body:not([data-mouse-gesture-type])
    #form[data-loader-type='viewer']
    div[data-role='control']:not([data-is-drag-source]):not(
      [data-disabled]
    ):not([data-has-errors])
    div[data-role='i123-input']:not([data-type='file']):not(
      [data-disabled]
    ):not([readonly='readonly']):hover {
    background: #ffffff !important;
    border: 1px solid #d1b3ab !important;
  }

  div[data-field-name='flex-text-4'] h5,
  div[data-field-name='flex-text-3'] h5 {
    min-height: 410px !important;
    background: #f1e8e7 !important;
    padding: 20px !important;
  }
}
.pages-custom-retail-submission-form {
  .full {
    width: 100%;
  }
  .form-field {
    margin: 0 !important;
    flex: 1;
    padding: 15px 0 !important;
    .disclaimer {
      position: absolute;
    }
    .form-input[readonly] {
      background: none;
    }
  }
  //   .checkbox-fields {
  //     display: flex;
  //     gap: 10px;
  //     margin-bottom: 1rem;
  //     margin-top: 1rem;
  //     .checkbox-field {
  //       display: flex;
  //       justify-content: center;
  //       gap: 4px;
  //     }
  //     label {
  //       font-style: normal;
  //       font-weight: 600;
  //       font-size: 12px;
  //       line-height: 16px;
  //       /* identical to box height, or 133% */

  //       letter-spacing: 0.05em;
  //       text-transform: uppercase;

  //       /* Neutral/400 */

  //       color: #615d5d;
  //     }

  //   }

  .checkbox-fields {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    margin-bottom: 1rem;
    margin-top: 1rem;
    input[type='checkbox'] {
      -webkit-appearance: none;
      appearance: none;
      margin: 0;
      border: 1px solid #bc8372;
      background-color: white;
      border-radius: 3px;
      width: 1.14286rem;
      height: 1.14286rem;
      display: grid;
      place-content: center;
      margin-right: 10px;
    }
    input[type='checkbox']::before {
      content: '';
      width: 0;
      height: 0;
    }
    input[type='checkbox']:checked::before {
      width: 1.14286rem;
      height: 1.14286rem;
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z' fill='rgba(255, 255, 255, 0.999)' /%3E%3C/svg%3E");
      border: 1px solid #bc8372;
      background-color: #bc8372;
      background-size: contain;
      border-radius: 3px;
    }
    input[type='checkbox']:focus {
      outline: 0;
      outline-offset: 0;
    }
  }
  .checkbox-field label {
    margin-bottom: 10px;
    display: flex;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */

    letter-spacing: 0.05em;
    text-transform: uppercase;

    /* Neutral/400 */

    color: #615d5d;
  }
  .form-retail-row {
    display: flex;
    gap: 20px;

    flex-flow: row;

    justify-content: unset;

    align-items: unset;
  }
  .city-container {
    gap: 20px;
    display: flex;
  }
  .disclaimer {
    font-style: italic;

    font-size: 11px;
    line-height: 14px;
    /* or 127% */

    text-transform: capitalize;

    /* Neutral/400 */

    color: #615d5d;

    margin-bottom: 1rem;
    span {
      font-weight: 700;
    }
  }
  .inline-picker {
    display: none;
  }
  .select-date {
    margin-bottom: 2rem;
    .flatpickr-months {
      margin-bottom: 1rem;
    }
    .flatpickr-calendar {
      box-shadow: none;
      .flatpickr-current-month {
        left: 0;
        text-align: left;
        .cur-month {
          font-weight: inherit;
        }
      }
      .flatpickr-prev-month {
        right: 25px;
        left: auto;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }
      .flatpickr-next-month {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }
      .flatpickr-prev-month,
      .flatpickr-next-month {
        padding: 7px;
        background: #dad4ce;
        &:hover {
          background: #ada093;
          color: #000;
          svg {
            fill: #000;
          }
        }
      }
    }
    .flatpickr-weekday {
      font-weight: 400;
      font-size: 12px;
      color: #ada093;
      text-transform: uppercase;
    }
    .date-container {
      display: flex;
      gap: 10px;
      > div {
        flex: 1;
      }
      @media screen and (max-width: 768px) {
        flex-direction: column;
        > div {
          flex: unset;
        }
      }
    }
    .time {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 6px;
      grid-auto-rows: min-content;
      .date-button {
        padding: 12px 16px;
        height: 43px;
        background: #dad4ce;
        border-radius: 7px;
        font-weight: 700;
        &.active {
          background: #ac634d;
          color: #fff;
        }
      }
    }

    .prevMonthDay,
    .nextMonthDay {
      background: none !important;
    }
    .flatpickr-day {
      background: #c3e1e4;
      margin-bottom: 1rem;
      font-size: 12px;
      &.selected {
        background: #ac634d;
        color: #fff;
      }
    }
    .dayContainer > .flatpickr-day:nth-child(7n),
    .dayContainer > .flatpickr-day:nth-child(7n-6) {
      background: #dad4ce;
      //   font-size: 20px;
    }
    .nextMonthDay {
      &:nth-last-child(-n + 7) {
        display: none;
      }
    }
  }
  .button {
    background: #bc8372;
    border: 1px solid #bc8372;
    color: #fff;
    &:hover {
      background: #fff;
      color: #bc8372;
      border: 1px solid #bc8372;
    }
  }
}
