.pages-custom-page-custom-form {
  .block-item {
    margin: 20px 0 !important;
  }

  .choice-box__label {
    border: none !important;
    width: auto !important;
    box-shadow: none !important;
    background-color: transparent !important;
    padding: 0 !important;
  }

  [data-role="container"] {
    position: relative;
  }

  [data-role="label"] {
    position: absolute;
    top: -1px;
    left: 18px;
    background: stencilColor("color-secondary") !important;
    z-index: 1;
    padding: 5px;
    text-transform: uppercase;
    font-size: 12px !important;
  }

  h1,
  h4 {
    font-family: stencilFontFamily('prata-font');
    font-style: normal;
    font-weight: 400;
    color: stencilColor("color-black") !important;
  }

  h1 {
    font-weight: 400 !important;
    font-size: 34px !important;
    line-height: 44px !important;
  }

  h4 {
    font-weight: 400 !important;
    font-size: 22px !important;
    line-height: 30px !important;
  }

  h5 {
    font-family: stencilFontFamily('default-font-regular');
    font-style: normal;
    font-weight: 400;
    font-size: 16px !important;
    line-height: 26px !important;
    color: stencilColor("color-allure-bridals-neutral-2") !important;
  }

  label {
    font-family: stencilFontFamily('default-font-regular') !important;
    font-style: normal;
    font-weight: 600 !important;
    font-size: 12px !important;
    line-height: 16px !important;
    letter-spacing: 0.05em !important;
    text-transform: uppercase !important;
    color: stencilColor('color-allure-bridals-neutral-1') !important;
  }

  #form div[data-role="control"]:not([data-is-selected]):not([data-disabled]):not([data-has-errors]) div[data-role="input-container"] {
    border-color: transparent !important;
  }

  div[data-ui-role="ui-element"][data-type="dropdown"]>div[data-role="dropdown-skin"] {
    top: 63% !important;
  }

  #form div[data-role="control"] label[data-role="choice"] span[data-role="option-text"] {
    font-family: stencilFontFamily('default-font-regular') !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 12px !important;
    line-height: 20px !important;
    color: stencilColor("color-allure-bridals-neutral-2") !important;
    text-transform: capitalize !important;
  }

  #form div[data-role="control"] div[data-ui-role="ui-element"]:not([type=file]),
  #form div[data-role="control"] div[data-role="input-container"] input,
  div[data-ui-role="ui-element"][data-type="dropdown"]>select,
  #form div[data-role="control"] div[data-role="i123-input"]:not([data-type="file"]),
  #form div[data-role="control"] input[data-role="i123-input"]:not([type=radio]):not([type=checkbox]):not([type=reset]):not([type=hidden]):not([data-no-theme]) {
    height: 45px !important;
    background: stencilColor("color-secondary") !important;
    border: 1px solid stencilColor('color-allure-bridals-primary-3') !important;
    font-family: stencilFontFamily('default-font-regular') !important;
    font-style: normal;
    font-weight: 400 !important;
    font-size: 12px !important;
    line-height: 15px !important;
    color: stencilColor('color-allure-bridals-primary-3') !important;
  }

  #form div[data-role="control"]:not([data-is-selected]):not([data-disabled]):not([data-has-errors]) input[data-role="i123-input"][type=checkbox]+label {
    background: stencilColor("color-secondary") !important;
    border: 1px solid stecilColor("color-allure-bridals-primary-2") !important;
    border-radius: 3px !important;
  }

  #form div[data-role="control"][data-type="check-box"] input[data-role="i123-input"][type=checkbox]:checked+label {
    background-color: stencilColor("color-default-primary-1") !important;
    border: 1px solid stencilColor("color-default-primary-1") !important;
    color: stencilColor("color-secondary");
  }

  #form button[data-role="submit"] {
    background-color: stencilColor("color-default-primary-1") !important;
    border: 1px solid stencilColor("color-default-primary-1") !important;
    font-family: stencilFontFamily('default-font-regular') !important;
    font-style: normal;
    text-transform: uppercase !important;
    font-weight: 600 !important;
    font-size: 12px !important;
    line-height: 15px !important;
    letter-spacing: 0.1em !important;
  }

  #form button[data-role="submit"]::before {
    border: 1px solid stencilColor("color-secondary");
    position: absolute;
    display: block;
    content: '';
    border-radius: 3px;
    height: 35px;
    width: calc(100% - 6px);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
  }

  #form div[data-role="control"] label[data-role="label"] {
    position: absolute;
    top: 7px;
    padding: 2px;
    background: stencilColor("color-secondary");
    z-index: 9;
    left: 15px;
  }

  #form [data-role="page"][data-num-children]:not([data-num-children="0"]) {
    margin: 0 auto 40px auto !important;
  }

  #form {
    padding-top: 0 !important;
  }

  #form [data-role=control].button-choices [data-role=input-row] .choice-box__label {
    box-shadow: 0 2px 4px stencilColor("color-secondary") !important;
    border: 0 !important;
    border-radius: 0 !important;
    border-width: 0 !important;
    background-color: transparent !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    width: 300px !important;
  }

  body:not([data-mouse-gesture-type]) #form[data-loader-type="viewer"] div[data-role="control"]:not([data-is-drag-source]):not([data-disabled]):not([data-has-errors]) div[data-role="input-container"]:not([data-disabled]):hover,
  body:not([data-mouse-gesture-type]) #form[data-loader-type="viewer"] div[data-role="control"]:not([data-is-drag-source]):not([data-disabled]):not([data-has-errors]) div[data-role="i123-input"]:not([data-type="file"]):not([data-disabled]):not([readonly="readonly"]):hover {
    background: stencilColor("color-secondary") !important;
    border: 1px solid stencilColor('color-allure-bridals-primary-3') !important;
  }


  div[data-field-name="flex-text-4"] h5,
  div[data-field-name="flex-text-3"] h5 {
    min-height: 410px !important;
    background: stencilColor("color-allure-bridals-primary-5") !important;
    padding: 20px !important;
  }
}

.has-activeNavPages {

  position: relative;
}

.pages-custom-appointment-submission-form {
  .content {
    .form-field {
      .form-label {
        letter-spacing: 0.05em;
        top: 8px;
        z-index: 9;
	      color: stencilColor('color-allure-bridals-neutral-1');
        font-family: stencilFontFamily('default-font-regular');
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        @include breakpoint("medium") {
          font-size: 12px;
          left: 13px;
        }
      }

      .error-message {
        display: inline-block;
        color: stencilColor('color-error');
        margin: 6px 0;
      }
    }
  }

  .form-input {
    border: 1px solid stencilColor('color-allure-bridals-primary-3') !important;
    border-radius: 3px;

    &:focus,
    &:active {
      border: 1px solid stencilCollor('color-allure-bridals-neutral-2') !important;
      outline: none !important;
    }
  }

  #thank-you {
    display: none;
    text-align: center;
  }

  .full {
    width: 100%;
  }

  .header-title {
    margin-top: 1rem;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
  }

  .form-field {
    margin: 0 !important;
    flex: 1;
    padding: 15px 0 !important;

    .disclaimer {
      position: absolute;
    }

    .form-input[readonly] {
      background: none;
    }
  }

  .checkbox-fields {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    margin-bottom: 1rem;
    margin-top: 1rem;

    input[type='checkbox'] {
      -webkit-appearance: none;
      appearance: none;
      margin: 0;
      border: 1px solid stencilColor("color-default-primary-1");
      background-color: stencilColor("color-secondary");
      border-radius: 3px;
      width: 1.14286rem;
      height: 1.14286rem;
      display: grid;
      place-content: center;
      margin-right: 10px;
    }

    input[type='checkbox']::before {
      content: '';
      width: 0;
      height: 0;
    }

    input[type='checkbox']:checked::before {
      width: 1.14286rem;
      height: 1.14286rem;
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z' fill='rgba(255, 255, 255, 0.999)' /%3E%3C/svg%3E");
      border: 1px solid stencilColor("color-default-primary-1");
      background-color: stencilColor("color-default-primary-1");
      background-size: contain;
      border-radius: 3px;
    }

    input[type='checkbox']:focus {
      outline: 0;
      outline-offset: 0;
    }
  }

  .checkbox-field label[for="register_pass-news-terms"] a {
    text-decoration: none;
    color: inherit;
  }

  .checkbox-field label {
    display: flex;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */

    letter-spacing: 0.05em;
    text-transform: uppercase;

    /* Neutral/400 */

    color: stencilColor("color-allure-bridals-neutral-2");
  }

  .form-retail-row {
    display: flex;
    flex-flow: column;
    gap: 0;
    justify-content: unset;
    align-items: unset;

    @include breakpoint("medium") {
      flex-flow: row;
      gap: 20px;
    }
  }

  .city-container {
    gap: 0px;
    display: flex;
    flex-flow: column;

    @include breakpoint("medium") {

      flex-flow: row;
      gap: 20px;


    }
  }

  .disclaimer {
    font-style: italic;
    font-size: 11px;
    line-height: 14px;
    color: stencilColor("color-allure-bridals-neutral-2");
    margin-bottom: 1rem;

    span {
      font-weight: 700;
    }
  }

  .inline-picker {
    display: none;
  }

  .select-date {
    display: none;
    margin-bottom: 2rem;

    .flatpickr-months {
      margin-bottom: 1rem;
    }

    .flatpickr-calendar {
      box-shadow: none;

      .flatpickr-current-month {
        left: 0;
        text-align: left;

        .cur-month {
          font-weight: inherit;
        }
      }

      .flatpickr-prev-month {
        right: 25px;
        left: auto;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }

      .flatpickr-next-month {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }

      .flatpickr-prev-month,
      .flatpickr-next-month {
        padding: 7px;
        background: #dad4ce;

        &:hover {
          background: #ada093;
          color: stencilColor("color-black");

          svg {
            fill: stencilColor("color-black");
          }
        }
      }
    }

    .flatpickr-weekday {
      font-weight: 400;
      font-size: 12px;
      color: #ada093;
      text-transform: uppercase;
    }

    .date-container {
      display: flex;
      gap: 10px;

      >div {
        flex: 1;
      }

      @media screen and (max-width: 768px) {
        flex-direction: column;

        >div {
          flex: unset;
        }
      }
    }

    .time {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 6px;
      grid-auto-rows: min-content;

      .date-button {
        padding: 12px 16px;
        height: 43px;
        background: #dad4ce;
        border-radius: 7px;
        font-weight: 700;

        &.active {
          background: stencilColor("color-allure-bridals-primary-1");
          color: stencilColor("color-secondary");
        }
      }
    }

    .prevMonthDay,
    .nextMonthDay {
      background: none !important;
    }

    .flatpickr-day {
      background: #c3e1e4;
      margin-bottom: 1rem;
      font-size: 12px;

      &.selected {
        background: stencilColor("color-allure-bridals-primary-1");
        color: stencilColor("color-secondary");
      }
    }

    .dayContainer>.flatpickr-day:nth-child(7n),
    .dayContainer>.flatpickr-day:nth-child(7n-6) {
      background: #dad4ce;
      //   font-size: 20px;
    }

    .nextMonthDay {
      &:nth-last-child(-n + 7) {
        display: none;
      }
    }
  }

  .button {
    background: stencilColor("color-default-primary-1");
    border: 1px solid stencilColor("color-default-primary-1");
    color: stencilColor("color-secondary");

    &:hover {
      background: stencilColor("color-secondary");
      color: stencilColor("color-default-primary-1");
      border: 1px solid stencilColor("color-default-primary-1");
    }
  }
  .button-white {
    background: stencilColor("color-secondary");
    border: 1px solid stencilColor( "color-default-primary-1");
    color: stencilColor( "color-default-primary-1");

    &:hover {
      background: stencilColor( "color-default-primary-1");
      color: stencilColor("color-secondary");
      border: 1px solid stencilColor( "color-default-primary-1");
    }
  }
  .thanks {
    width: auto;
    padding: 10px;
  }
  .submit-btn {
    width: 88px;
  }
}

.flatpickr-calendar {
  .flatpickr-current-month {
    text-transform: uppercase;
    font-size: 14px;
  }

  .flatpickr-weekday {
    color: stencilColor('color-allure-bridals-primary-1');
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;

  }

  .cur-year {
    font-weight: 600 !important;
  }

  .flatpickr-day {
    &.selected {
      background: stencilColor( "color-allure-bridals-primary-1");
      border-color: stencilColor( "color-allure-bridals-primary-1");
    }
  }
}

.submit-btn {
  margin-top: 10px;
}