.pages-custom-page-custom-form {
    .block-item {
        margin: 20px 0 !important;
    }
    .choice-box__label {
        border: none !important;
        width: auto !important;
        box-shadow: none !important;
        background-color: transparent !important;
        padding: 0 !important;
  }
  [data-role="container"] {
         position: relative;
  }
  [data-role="label"] {
         position: absolute;
         top: -1px;
         left: 18px;
         background: #ffffff !important;
         z-index: 1;
         padding: 5px;
        text-transform: uppercase;
        font-size: 12px !important;
  }
  h1,h4 {
          font-family: 'Prata';
          font-style: normal;
          font-weight: 400;
          color: #000000 !important;
      }
      h1 {
          font-weight: 400 !important;
          font-size: 34px !important;
          line-height: 44px !important;
      }
      h4 {
          font-weight: 400 !important;
          font-size: 22px !important;
          line-height: 30px !important;
      }
      h5 {
          font-family: 'Inter';
          font-style: normal;
          font-weight: 400;
          font-size: 16px !important;
          line-height: 26px !important;
          color: #615D5D !important;
      }
      label {
          font-family: 'Inter' !important;
          font-style: normal;
          font-weight: 600 !important;
          font-size: 12px !important;
          line-height: 16px !important;
          letter-spacing: 0.05em !important;
          text-transform: uppercase !important;
          color: #1D1B1B !important;
      }
      #form div[data-role="control"]:not([data-is-selected]):not([data-disabled]):not([data-has-errors]) div[data-role="input-container"] {
          border-color: transparent !important;
      }
      div[data-ui-role="ui-element"][data-type="dropdown"]>div[data-role="dropdown-skin"] {
          top: 63% !important;
      }
      #form div[data-role="control"] label[data-role="choice"] span[data-role="option-text"] {
          font-family: 'Inter' !important;
          font-style: normal  !important;
          font-weight: 400  !important;
          font-size: 12px !important;
          line-height: 20px !important;
          color: #615D5D !important;
          text-transform: capitalize !important;
      }
      #form div[data-role="control"] div[data-ui-role="ui-element"]:not([type=file]),#form div[data-role="control"] div[data-role="input-container"] input,div[data-ui-role="ui-element"][data-type="dropdown"]>select,#form div[data-role="control"] div[data-role="i123-input"]:not([data-type="file"]),#form div[data-role="control"] input[data-role="i123-input"]:not([type=radio]):not([type=checkbox]):not([type=reset]):not([type=hidden]):not([data-no-theme]) {
          height: 45px !important;
          background: #FFFFFF !important;
          border: 1px solid #D1B3AB !important;
          font-family: 'Inter' !important;
          font-style: normal;
          font-weight: 400 !important;
          font-size: 12px !important;
          line-height: 15px !important;
          color: #D1B3AB !important;
      }
      #form div[data-role="control"]:not([data-is-selected]):not([data-disabled]):not([data-has-errors]) input[data-role="i123-input"][type=checkbox] + label {
          background: #FFFFFF !important;
          border: 1px solid #BA8476 !important;
          border-radius: 3px !important;
      }
      #form div[data-role="control"][data-type="check-box"] input[data-role="i123-input"][type=checkbox]:checked + label {
          background-color: #bc8372 !important;
          border: 1px solid #bc8372 !important;
          color: white;
      }
      #form button[data-role="submit"] {
          background-color: #bc8372 !important;
          border: 1px solid #bc8372 !important;
          font-family: 'Inter' !important;
          font-style: normal;
          text-transform: uppercase !important;
          font-weight: 600 !important;
          font-size: 12px !important;
          line-height: 15px !important;
          letter-spacing: 0.1em !important;
      }
      #form button[data-role="submit"]::before {
          border: 1px solid #ffffff;
          position: absolute;
          display: block;
          content: '';
          border-radius: 3px;
          height: 35px;
          width: calc(100% - 6px);
          box-sizing: border-box;
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          margin: auto;
      }
      #form div[data-role="control"] label[data-role="label"] {
          position: absolute;
          top: 7px;
          padding: 2px;
          background: #fff;
          z-index: 9;
          left: 15px;
      }
      #form [data-role="page"][data-num-children]:not([data-num-children="0"]) {
          margin: 0 auto 40px auto !important;
      }
      #form {
          padding-top: 0 !important;
      }
      #form [data-role=control].button-choices [data-role=input-row] .choice-box__label {
          box-shadow: 0 2px 4px #ffffff !important;
          border: 0 !important;
          border-radius: 0 !important;
          border-width: 0 !important;
          background-color: transparent !important;
          padding-top: 0 !important;
          padding-bottom: 0 !important;
          width: 300px !important;
      }
      body:not([data-mouse-gesture-type]) #form[data-loader-type="viewer"] div[data-role="control"]:not([data-is-drag-source]):not([data-disabled]):not([data-has-errors]) div[data-role="input-container"]:not([data-disabled]):hover,body:not([data-mouse-gesture-type]) #form[data-loader-type="viewer"] div[data-role="control"]:not([data-is-drag-source]):not([data-disabled]):not([data-has-errors]) div[data-role="i123-input"]:not([data-type="file"]):not([data-disabled]):not([readonly="readonly"]):hover {
          background: #FFFFFF !important;
          border: 1px solid #D1B3AB !important;
      }
  
  
      div[data-field-name="flex-text-4"]  h5,div[data-field-name="flex-text-3"]  h5 {
          min-height: 410px !important;
          background: #F1E8E7  !important;
          padding: 20px !important;
      }
}