.disney-fairy-tale-wedding {
    font-family: stencilFontFamily('avenir-font');
    .button {
        background: stencilColor('color-white');
        color: stencilColor('color-disney-dark');
        border-color: stencilColor('color-disney-dark');
        font-family: stencilFontFamily('avenir-font');
        font-size: remCalc(14px);
        line-height: remCalc(18px);
        .icon {
            svg use {
                fill: stencilColor("color-disney-dark");                
            }
        }
        &:before {
            border-color: stencilColor('color-disney-regular');
        }
        &:hover {
            background: stencilColor('color-disney-dark');
            border-color: stencilColor('color-disney-dark');
            color: stencilColor('color-white');
            .icon {
                svg use {
                    fill: stencilColor("color-white");                
                }
            }
        }
        &.button--primary {
            background: stencilColor('color-disney-dark');
            color: stencilColor('color-white');
            border-color: stencilColor('color-disney-dark');
            &:before {
                border-color: stencilColor('color-disney-light');
            }
            &:hover {
                background: stencilColor('color-disney-normal');
                border-color: stencilColor('color-disney-light');
                &:before {
                    border-color: stencilColor('color-disney-light');
                }
            }
        }
        &:disabled {
            background: stencilColor('color-disney-light');
            border-color: stencilColor('color-disney-light');
            color: stencilColor('color-white');
            &:before {
                border-color: stencilColor('color-white');
            }
        }
    }
    .form {
        .form-field {
            .form-label {
                font-family: stencilFontFamily('avenir-font');
                font-size: remCalc(14px);
                line-height: remCalc(18px);
                font-weight: 500;
                color: stencilColor('color-disney-dark');
                background-color: stencilColor('color-white');
                top: 2px;
            }
            .form-radio, .form-checkbox {
                &~.form-label {
                    color: stencilColor('color-text');
                }
            }
            .form-radio {
                &~.form-label {
                    &::before {
                        border-color: stencilColor('color-disney-dark');
                    }
                }
                &:disabled {
                    &~.form-label {
                        &::before {
                            border-color: stencilColor('color-disney-dark');
                            background-color: stencilColor('color-disney-light');
                        }
                    }
                }
            }
            .form-checkbox {
                &~.form-label {
                    &::before {
                        border-color: stencilColor('color-disney-dark');
                    }
                }
                &:disabled {
                    &~.form-label {
                        &::before {
                            border-color: stencilColor('color-disney-dark');
                            background-color: stencilColor('color-disney-normal');
                        }
                    }
                }
            }
            input[type="checkbox"]:checked {
                &~.form-label {
                    &::before {
                        background-color: stencilColor('color-disney-dark');
                    }
                }
                &:disabled {
                    &~.form-label {
                        &::before {
                            border-color: stencilColor('color-disney-dark');
                            background-color: stencilColor('color-disney-light');
                        }
                    }
                }
            }
            input[type="radio"]:checked {
                &~.form-label {
                    &::after {
                        border-color: stencilColor('color-disney-dark');
                        background-color: stencilColor('color-white');
                    }
                }
                &:disabled {
                    &~.form-label {
                        &::before {
                            border-color: stencilColor('color-disney-dark');
                        }
                        &::after {
                            background-color: stencilColor('color-disney-dark');
                            border-color: stencilColor('color-disney-light');
                        }
                    }
                }
            }
            .form-input, .form-select {
                background-color: stencilColor('color-white');
                border-color: stencilColor('color-disney-dark');
                color: stencilColor('color-disney-normal');
                &::placeholder { 
                    color: stencilColor('color-disney-light');
                    border-color: stencilColor('color-disney-dark');
                }
                &:focus { 
                    color: stencilColor('color-text');
                    border-color: stencilColor('color-disney-dark');
                }
                &:active { 
                    color: stencilColor('color-disney-dark');
                    border-color: stencilColor('color-disney-dark');
                }
            }
            .form-select {
                color: stencilColor('color-text');
                option {
                    color: stencilColor("color-disney-normal");
                }
                &:active { 
                    border-color: stencilColor('color-text');
                }
                &:valid {
                    color: stencilColor("color-text");
                }
                &:focus {
                    color: stencilColor("color-disney-dark");
                }
            }
        }
        .form-field--checkbox {
            .form-label {
                color: stencilColor('color-text');
                &::before {
                    border-color: stencilColor('color-disney-dark');
                    background-color: stencilColor('color-white');
                }
            }
            input[type="checkbox"]:checked + .form-label {
                &::before {
                    background-color: stencilColor('color-disney-dark');
                    color: stencilColor('color-white');
                }
            }
        }
    }
    h1, h2, h3, h4, h5, h6 {
        font-family: stencilFontFamily('avenir-font');
    }
    h1 {
        font-size: remCalc(36px);
        line-height: remCalc(49px);
        text-transform: uppercase;
    }
    h2 {
        font-family: stencilFontFamily('avenir-font');
        font-size: remCalc(24px);
        line-height: remCalc(33px);
        text-transform: uppercase;
        font-weight: 700;
    }
    .productView-product {
        border-bottom-color: stencilColor("color-disney-border");
        &::after {
            background:  url('/assets/icons/disney-diamond-accent.svg');
            background-repeat: no-repeat;
            background-size: 36px 24px;
            width: 36px;
            height: 24px;
            left: calc(50% - 36px/2 + 2px);
            transform: none;
            border: none;
            bottom: -12px;
        }
    }
}