.pages-custom-page-custom-home-page,
.pages-custom-category-category-landing,
.pages-custom-category-category-listing,
.pages-custom-page-all-content-blocks,
.pages-product,
.suits-product,
.pages-custom-category-bp-category,
.pages-custom-category-suits-bp-category,
.pages-blog-post,
.pages-blog,
.suits-product,
.pages-custom-page-about,
.pages-custom-page-custom-form {
    .button {
        @media only screen and (min-width: 2800px) {
            font-size: remCalc(20px);
            line-height: remCalc(20px);
            max-width: 350px;
        }
    }
    .container {
        padding: 0;
        max-width: 100%;
    }
    .block-item,
    .sub-category-block,
    .customBanner,
    .custombread,
    .custompro,
    .bp-category,
    .blockElementHeaderContent {
        max-width: 91.71429rem;
        margin: 0 auto;
        padding: 0 1.5rem;
        @include breakpoint("medium") {
            margin: 0 auto;
        }
        @media only screen and (min-width: 1600px)  {
            max-width: 100rem;
        }
        @media only screen and (min-width: 2000px) {
            max-width: 120rem;
        }
        @media only screen and (min-width: 2600px) {
            max-width: 140rem;
        }
        @media only screen and (min-width: 3000px) {
            max-width: 170rem;
        }
        &.full-size {
            width:100%;
            padding: 0;
            @include breakpoint("medium") {
                width: 100%;
                max-width: 100%;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
    .custombread {
        @include breakpoint("medium") {
            margin: 0 auto !important;
        }
        ol.breadcrumbs {
            margin: 0;
        }
    }
    .bp-category {
        @include breakpoint("medium") {
            margin: 20px auto !important;
        }
    }
    .blockElementFullscreenImage .mainImage {
        min-height: 300px;
        @include breakpoint("medium") {
            min-height: auto;
        }
        img {
            height: 100%;
            position: absolute;
            @media only screen and (min-width: 600px) {
                width: 100%;
                height: auto;
                position: relative;
            }
        }
    }
    .blockElementDiscover,.events.block-item,.blockElementLookbook2,.blockElementStory {
        @include breakpoint("medium") {
            margin: 0 auto;
        }
    }
}
.pages-product,
.suits-product {
    .custombread {
            padding: 0 !important;
    }
}

.pages-product,
.suits-product {
    .custompro {
        .block-item {
            padding: 0 !important;
        }
        @media only screen and (max-width: 600px)  {
            padding: 0 !important; 
            .productView {
                padding: 0 1.5rem;
            }
        }
    }
    .breadcrumbs {
        @media only screen and (max-width: 600px)  {
            padding: 0 1.5rem !important;
        }
    }
    .youMightalsoLike,.thePerfectMatch,.recentlyViewed {
        @media only screen and (max-width: 600px)  {
            max-width: 91.71429rem;
            margin: 20px auto;
            padding: 0 1.5rem;
        }
    }

    .blockElementFullscreenImage .mainImage img {
        @media only screen and (max-width: 600px)  {
            width: 100%;
        }
    }
}
.pages-custom-category-category-landing {
    .blockElementFullscreenVideo {
        margin-top: 25px !important;
    }
}
.pages-custom-category-bp-category,.pages-custom-category-suits-bp-category {
    .customBanner {
        padding: 0 0.75rem !important;
        margin: 10px auto !important;
        .leftTextbanner .caption .title {
            font-size: remCalc(33px);
            line-height: remCalc(40px);
        }
    }
}


