.inspiration-page {
    .mobileonly {
        display: block;
        @include breakpoint("medium") { 
            display: none;
        }
    }
    .header-section {
        text-align: center;
        max-width: 400px;
        margin: 0 auto;
        padding-top: 88px;
        h2 {
            font-family: stencilFontFamily('prata-font');
            font-style: normal;
            font-weight: 400;
            font-size: remCalc(34px);
            line-height: remCalc(44px);
            color: stencilColor("color-default-neutral-3");
            margin-top: 0;
        }
        p {
            font-family: stencilFontFamily('default-font-light');
            font-style: normal;
            font-weight: 300;
            font-size: remCalc(16px);
            line-height: remCalc(26px);
            text-align: center;
            color: stencilColor('color-default-neutral-2');
        }
    }
    .filterbutton {
        text-align: center;
        margin-bottom: 72px;
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            li {
                margin: 5px;
                @include breakpoint("medium") {
                    margin: 5px 5px 0;
                }
                .button.button--primary, .button.button--secondary {
                    padding: 15px;
                    height: 34px;
                    font-weight: 500;
                    font-size: remCalc(10px);
                    line-height: remCalc(12px);
                    margin: 0;
                }
                .button:before {
                    height: 27px;
                    width: calc(100% - 6px);
                }
            }
        }
    }
    .blocks {
        width: 100%;
        padding: 64px 16px;
        display: flex;
        flex-direction: column;
        gap: 80px;
        @include breakpoint("medium") {
            padding: 64px 0;
        }
        .block {
            display: block;
            @include breakpoint("medium") { 
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 161px;
            }
            .image-block, .content-block{
                width: 100%;
                @include breakpoint("medium") { 
                    width: calc(50% - 40px);
                }
            }
            .content-block {
                width: 100%;
                @include breakpoint("medium") {
                    width: calc(50% - 120px);
                }
            }
            .content-block {
                @include breakpoint("small") { 
                    padding: 0 40px;
                }
                @include breakpoint("medium") {
                    padding: 0;
                }
                .caption {
                    position: relative;
                    text-align: center;
                    @include breakpoint("small") {
                        text-align: left;
                    }
                    @include breakpoint("medium") {
                        text-align: left;
                        padding-right: 120px;
                    }
                    .initials {
                        font-family: stencilFontFamily('prata-font');
                        font-style: normal;
                        font-weight: 400;
                        font-size: remCalc(60px);
                        line-height: remCalc(70px);
                        color: stencilColor('color-allure-bridals-primary-5');
                        position: absolute;
                        top: -23px;
                        left: 0;
                        z-index: -1;
                        @include breakpoint("medium") { 
                            left: -64px;
                        }
                    }
                    h3 {
                        font-family: stencilFontFamily('stay-classy-font');
                        font-style: normal;
                        font-weight: 400;
                        font-size: remCalc(50px);
                        line-height: remCalc(60px);
                        text-align: center;
                        letter-spacing: -0.01em;
                        color: stencilColor('color-allure-bridals-neutral-1');
                        position: relative;
                        margin: 30px 0 24px;
                        @include breakpoint("small") { 
                            text-align: left;
                            margin: 64px 0 24px;
                        }
                        @include breakpoint("medium") { 
                            text-align: left;
                            padding: 0;
                            margin: 0 0 24px;
                        }
                        &::before {
                            position: absolute;
                            content: "";
                            width: 25%;
                            height: 20px;
                            background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTg4IiBoZWlnaHQ9IjEzIiB2aWV3Qm94PSIwIDAgMTg4IDEzIiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cmVjdCB4PSIxODIiIHk9IjEuOTgxMzIiIHdpZHRoPSI2IiBoZWlnaHQ9IjYiIHRyYW5zZm9ybT0icm90YXRlKDQ1IDE4MiAxLjk4MTMyKSIgZmlsbD0iIzY5NUM1QyIgc3Ryb2tlPSJ3aGl0ZSIgc3Ryb2tlLXdpZHRoPSIyIi8+CjxyZWN0IHk9IjUuODk1NTEiIHdpZHRoPSIxODAiIGhlaWdodD0iMSIgZmlsbD0iI0M4QzZDNiIvPgo8L3N2Zz4K");
                            background-repeat: no-repeat;
                            right: 0;
                            display: none;
                            @include breakpoint("small") { 
                                display: block;
                            }
                            @include breakpoint("medium") { 
                                width: 17%;
                                right: 0;
                            }
                        }
                        &::after {
                            position: absolute;
                            content: "";
                            width: 4px;
                            height: 4px;
                            background: stencilColor("color-default-neutral-3");
                            transform: rotate(45deg);
                            outline: 2px solid stencilColor('color-secondary');
                            right: 25%;
                            top: 4px;
                            display: none;
                            @include breakpoint("small") { 
                                display: block;
                            }
                            @include breakpoint("medium") { 
                                right: 17%;
                                top: 5px;
                            }
                        }
                    }
                    p {
                        font-family: stencilFontFamily('default-font-light');
                        font-style: normal;
                        font-weight: 300;
                        font-size: remCalc(14px);
                        line-height: remCalc(24px);
                        color: stencilColor('color-default-neutral-1');
                        @media screen and (min-width: 601px) and (max-width: 900px){
                            padding-left: 7%;
                        }
                    }
                    .button {
                        @media screen and (min-width: 601px) and (max-width: 900px){
                            margin-left: 7%;
                        }
                    }
                }
            }
            .image-block {
                position: relative;
                .horizontal_image {
                    width: 100%;
                    @media screen and (min-width: 601px) and (max-width: 900px){
                        padding-right: 40px;
                    }
                }
                .vertical_image {
                    width: calc(25% + 40px);
                    position: absolute;
                    right: 0;
                    background: stencilColor('color-secondary');
                    top: 0;
                    padding: 0 0 10px 10px;
                    @include breakpoint("small") {
                        bottom: 0;
                        top: auto;
                        right: 0;
                        padding: 10px 0 0 10px;
                    }
                    @include breakpoint("medium") { 
                        bottom: 0;
                        top: auto;
                        right: -40px;
                        padding: 10px 0 0 10px;
                    }
                }
                .postdate {
                    text-align: right;
                    margin: 0;
                    position: relative;
                    min-height: 56px;
                    width: 63%;
                    padding-right: 40px;
                    justify-content: end;
                    align-items: center;
                    @media screen and (max-width: 600px) {
                        min-height: 14px;
                        margin-bottom: 10px;
                    }
                    &.mobileonly {
                        display: inline-flex;
                        @include breakpoint("small") {
                            display: none;
                        }
                    }
                    &.desktoponly {
                        display: none;
                        @include breakpoint("small") {
                            display: inline-flex;
                            width: 50%;
                        }
                        @include breakpoint("medium") {
                            display: inline-flex;
                            width: 75%;
                        }
                    }
                    &::before {
                        background: stencilColor("color-allure-bridals-neutral-4");
                        height: 1px;
                        width: calc(100% - 160px);
                        position: absolute;
                        content: "";
                        left: -16px;
                        top: 0;
                        bottom: 0;
                        margin: auto;
                        @include breakpoint("small") {
                            left: -0;
                        }
                    }
                    &::after {
                        position: absolute;
                        content: "";
                        top: 0;
                        left: calc(100% - 182px);
                        bottom: 0;
                        margin: auto;
                        width: 4px;
                        height: 4px;
                        background: stencilColor("color-default-neutral-3");
                        transform: rotate(45deg);
                        outline: 3px solid stencilColor('color-secondary');
                        @include breakpoint("small") {
                            left: calc(100% - 160px);
                        }
                    }
                }
            }
            @include breakpoint("medium") {
                &:nth-child(even) {
                    .image-block {
                        order: 1;
                        text-align: right;
                        .vertical_image {
                            padding: 10px 10px 0 0;
                            @include breakpoint("medium") { 
                                left: -40px;
                            }
                        }
                        .postdate {
                            padding-right: 0;
                            padding-left: 40px;
                            justify-content: flex-start;
                            @include breakpoint("medium") { 
                                text-align: left;
                                margin: 0;
                                position: relative;
                                &::before {
                                    right: 0;
                                    left: unset;
                                }
                                &::after {
                                    left: 160px;
                                }
                            }
                        }
                    }
                    .content-block {
                        display: flex;
                        justify-content: end;
                        padding-left: 120px;
                        padding-right: 0;
                    }
                }
                &:nth-child(odd) {
                    .image-block {
                        order: 0;
                    }
                }
            }
            
        }
    }
}