$color-default-neutral-2: stencilColor('color-default-neutral-2');
$color-default-neutral-3: stencilColor('color-default-neutral-3');
$color-default-neutral-5: stencilColor('color-default-neutral-5');
$color-border: stencilColor('color-border');
$color-default-primary-1: stencilColor('color-default-primary-1');

$prata-font: stencilFontFamily('prata-font');
$inter: stencilFontFamily('default-font-regular');


.login {
    display: flex;
    flex-direction: column;
    .alertBox .close {
        z-index: 0;
        align-items: flex-start;
        display: flex;
    }
}

.account-login {
    display: flex;
    flex-flow: column;
    gap: 40px;
    justify-content: center;
    align-items: center;

    .form-field{
        padding-right: 0px;
        margin: 0px;
    }
    .form-actions{
        margin-top: .5rem;
    }

    .form-row {
        margin: 10px 0px;
    }
}

form.form.forgot-password-form {
    margin-top: 10px;
}

@include breakpoint("medium") {
    .account-login {
        display: flex;
        gap: 160px;
        flex-flow: row;
        justify-content: unset;
        align-items: unset;
    }
    .login-reset, .new-login,.register-page {
        width: 50% !important;
    }
}

.login-reset {
    display: flex;
    width: 100%;
    flex-direction: column;
    position: relative;
    .divider {
        margin: 10px 0;
    }
    .reset-account{
        display: none;
    }

    a.forgot-password svg {
        transform: rotate(270deg);
    }

    &.remember-me__active{
        a.forgot-password svg {
            transform: rotate(180deg);
        }

        .reset-account{
            display: block;
        }

        // form.login-form.form button {
        //     position: absolute;
        //     left: 0;
        //     bottom: 0;
        // }

        form.form.forgot-password-form .form-field {
            margin: 0px !important;
            padding-bottom: 0px;
            padding-right: 0px;
        }
        
        form.form.forgot-password-form {
            margin: 0;
        }
        
        .reset-account {
            margin-bottom: 4.5rem;
        }
        
    }

    form.login-form.form {
        width: 100%;
        margin: 0;

        h2.form-heading {
            margin: 0px 0px 8px 0px;
            font-family: $prata-font;
            font-weight: 400;
            font-size: 22px;
            line-height: 30px;
            color: $color-default-neutral-2;
        }
        
        p.form-sub_heading {
            font-family: $inter;
            font-weight: 400;
            font-size: 12px;
            line-height: 20px;
            color: $color-default-neutral-5;
            padding-bottom: 13.5px;
            margin: 0;

            strong {
                color: $color-default-neutral-2;
            }
        }

        svg.login-diamond {
            width: 100%;
            position: absolute;
            margin-top: -6.5px;
        }

        .form-field.form-field--inputEmail{
            margin-top: 1rem;
            margin-bottom: 22px;
            padding-bottom: 0px;
            padding-right: 0px;
        } 
        
        .form-field.form-field--inputPassword {
            margin-bottom: 16px;
            padding-bottom: 0px;
            padding-right: 0px;
        }
        
    }

    .remember-me {
        width: 100%;
        display: flex;
        align-items: center;
    }

    p.remember-me_text {
        padding-left: 8px;
        font-family: $inter;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        color: $color-default-neutral-3;
        margin: 0;
    }

    a.forgot-password {
        margin-left: auto;
        font-family: $inter;
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        line-height: 12px;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        text-decoration: none;
        color: $color-default-primary-1;
    }

    button.button.button--primary {
        max-width: unset;
        margin: 0;
    }

    .reset-account {
        border: 1px solid $color-default-neutral-3;
        border-radius: 4px;
        padding: 18px;

        h4.reset-account__title {
            font-family: $inter;
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 15px;
            letter-spacing: 0.1em;
            color: $color-default-neutral-3;
            text-transform: uppercase;
            margin: 0;
        }
        
        .reset-account__heading-container {
            display: flex;
            justify-content: space-between;

            svg{
                cursor: pointer;
            }
        }
        
        p.reset-account_subheading {
            font-family: $inter;
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 20px;
            color: $color-default-neutral-5;
            margin: 5px 0px 0px 0px;
        }

        button {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 8px;
            font-family: $inter;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            text-align: center;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: $color-default-primary-1;
            margin-top: 15px;
        }
        
    }
}

.new-login {
    width: 100%;
    .divider {
        margin: 10px 0;
    }
    div {
        width: 100%;
        margin: 0;

        h2.form-heading {
            margin: 0px 0px 8px 0px;
            font-family: $prata-font;
            font-weight: 400;
            font-size: 22px;
            line-height: 30px;
            color: $color-default-neutral-2;
        }
        
        p.form-sub_heading {
            font-family: $inter;
            font-weight: 400;
            font-size: 12px;
            line-height: 20px;
            color: $color-default-neutral-5;
            margin-bottom: 13.5px;

            strong {
                color: $color-default-neutral-2;
            }
        }

        a {text-decoration: none;}

        button, .register-init{
            max-width: 100%;
        }

        .register-form__container, .register-init__deactive{
            display:none;

            &.register-form__active{
                display: block !important;
            }
        }
    }

    .new-customer {
        width: 100%;
    }
}

.forgot-password__page {
        display: flex;
        flex-flow: column;
        border: 1px solid stencilColor("color-default-neutral-3");
        border-radius: 4px;
        padding: 20px;
        margin: 5% auto;

    .divider {
        margin: 10px 0;
    }

    h2.form-heading {
        font-family: stencilFontFamily('default-font-bold');
        font-style: normal;
        font-weight: 600;
        font-size: remCalc(12px);
        line-height:remCalc(15px);
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: stencilColor("color-default-neutral-3");
        margin-top: 0;
    }

    p.form-sub_heading {
        font-family: $inter;
        font-weight: 400;
        font-size: remCalc(12px);
        line-height:remCalc(20px);
        color: $color-default-neutral-5;
        padding-bottom: 13.5px;
        margin: 0;

        strong {
            color: $color-default-neutral-2;
        }
    }

    svg.login-diamond {
        width: 100%;
        margin: 40px;
    }

    input#email {
        margin-top: 10px;
        width: 100%;
    }

    .form-field {
        margin: 0 !important;
        padding: 0 !important;
    }
    .form .form-field .form-label {
        color:  stencilColor("color-allure-bridals-neutral-1");
    }
    .form-prefixPostfix-button--postfix {
        max-width: 100%;
    }
    .sendemail {
        text-align: right;
        font-family: $inter;
        font-style: normal;
        font-weight: 500;
        font-size: remCalc(12px);
        line-height:remCalc(15px);
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: stencilColor("color-default-primary-1");
        text-decoration: none;
        display: flex;
        align-items: center;
        float: right;
    }

}

.register-page {
    display: flex;
    flex-flow: column;
    h2.form-heading {
        margin: 0px 0px 8px 0px;
        font-family: $prata-font;
        font-weight: 400;
        font-size: 22px;
        line-height: 30px;
        color: $color-default-neutral-2;
    }
    #customregistration,#createBTn {
        margin-bottom: 0;
    }
    p.form-sub_heading {
        font-family: $inter;
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        color: $color-default-neutral-5;
        // border-bottom: solid 1px $color-border;
        // padding-bottom: 13.5px;
        margin: 0;
        padding: 0;

        strong {
            color: $color-default-neutral-2;
        }
    }

    svg.login-diamond {
        width: 100%;
        margin-top: -6.5px;
    }
    .divider {
        margin: 40px 0;
    }

.form-row.form-row--half {
    margin-top: 1rem;
    margin: 1rem 0rem;
    width: 100%;
}

.form-field {
    margin: 0 !important;
    padding: 10px 0 !important;
}

}
.createaccount-type,.login-type {
    .g-recaptcha {
        margin: 40px 0px 25px 0;
    }
    .form .form-field .form-input, .form .form-field .form-select {
        border: 1px solid stencilColor("color-default-primary-2");
        color: stencilColor("color-allure-bridals-neutral-1");
    }
    .form .form-field .form-label {
        font-family: stencilFontFamily('default-font-bold');
        font-style: normal;
        font-weight: 600;
        font-size: remCalc(12px);
        line-height: remCalc(16px);
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: stencilColor("color-allure-bridals-neutral-1");
    }
    .checkbox-fields {
        margin-top: 10px;
        input[type="checkbox"] {
            -webkit-appearance: none;
            appearance: none;
            margin: 0;
            border: 1px solid #bc8372;
            background-color: white;
            border-radius: 3px;
            width: 1.14286rem;
            height: 1.14286rem;
            display: grid;
            place-content: center;
            margin-right: 10px;
          }
          input[type="checkbox"]::before {
            content: "";
            width: 0;
            height: 0;
          }
          input[type="checkbox"]:checked::before {
            width: 1.14286rem;
            height: 1.14286rem;
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z' fill='rgba(255, 255, 255, 0.999)' /%3E%3C/svg%3E");
            border: 1px solid #bc8372;
            background-color: #bc8372;
            background-size: contain;
            border-radius: 3px;
          }
          input[type="checkbox"]:focus {
            outline: 0;
            outline-offset: 0;
          }
    }
    .checkbox-field label {
        margin-bottom: 10px;
        display: flex;
    }
    .form .form-field .form-radio ~ .form-label, .form .form-field .form-checkbox ~ .form-label ,.checkbox-field label{
        font-family: stencilFontFamily('default-font-regular');
        font-style: normal;
        font-weight: 400;
        font-size: remCalc(12px);
        line-height: remCalc(20px);
        color: stencilColor("color-default-neutral-3");
        text-transform: inherit;
    }
    .account--fixed {
        @include breakpoint("medium") { 
            width: 40%;
        }
    }
    .button {
        max-width: 100%;
    }
}
.forgot-password__page {
    border: 0 !important;
    .sendemail {
        display: none;
    }
}
.register-page {
    padding-left: 0.75rem;
    padding-right: 0.75rem;  
}
.createaccountblock {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    .divider {
        margin: 40px 0;
    }
    p {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #615D5D;
        text-align: center;
        margin-bottom: 10px;
    }
    a {
        text-decoration: none;
    }
}