body {
    .men-design, .allure-men {
        font-family: stencilFontFamily('font-men-design-body');
        .h1-italic,
        .h2-italic,
        .h3-italic,
        .h4-italic {
            font-family: stencilFontFamily('font-men-design-display-headings');
        }

        h1,
        .h1,
        h2,
        .h2,
        h3,
        .h3,
        h4,
        .h4 {
            font-family: stencilFontFamily('font-men-design-headings');
        }

        .body-1,
        .body-2,
        .body-3,
        .body-light-1,
        .body-light-2,
        .body-light-3 {
            font-family: stencilFontFamily('font-men-design-body');
        }

        .form-label {
            font-family: stencilFontFamily('font-men-design-body');
        }

        .border {
            border-color: stencilColor('color-men-design-primary-2');

            &::after {
                background-color: stencilColor('color-men-design-primary-1');
            }
        }

        .button {
            background: stencilColor('color-white');
            color: stencilColor('color-men-design-primary-1');
            border-color: stencilColor('color-men-design-primary-1');
            font-family: stencilFontFamily('font-men-design-body');
            
            .icon {
                svg use {
                    fill: stencilColor("color-men-design-primary-1");
                }
            }

            &:before {
                border-color: stencilColor('color-men-design-primary-5');
            }

            &:hover {
                background: stencilColor('color-men-design-primary-1');
                border-color: stencilColor('color-men-design-primary-1');
                color: stencilColor('color-white');

                .icon {
                    svg use {
                        fill: stencilColor("color-white");
                    }
                }
            }

            &.button--primary {
                background: stencilColor('color-men-design-primary-1');
                border-color: stencilColor('color-men-design-primary-1');
                color: stencilColor('color-white');

                &:before {
                    border-color: rgba(255, 255, 255, 0.6);
                }

                &:hover {
                    background: stencilColor('color-men-design-primary-2');
                    border-color: stencilColor('color-men-design-primary-2');

                    &:before {
                        border-color: rgba(255, 255, 255, 0.6);
                    }
                }
            }

            &:disabled {
                background: stencilColor('color-men-design-primary-2');
                border-color: stencilColor('color-men-design-primary-2');
                color: stencilColor('color-white');

                &:before {
                    border-color: rgba(255, 255, 255, 0.4);
                }
            }
        }

        .breadcrumbs {
            border-color: stencilColor('color-men-design-primary-2');

            .breadcrumb {
                &::after {
                    width: 2.5px;
                    height: 2.5px;
                    background-color: stencilColor('color-men-design-primary-1');
                }

                .breadcrumb-label {
                    span {
                        color: stencilColor('color-men-design-neutral-1');
                    }
                }

                &:last-child {
                    .breadcrumb-label {
                        span {
                            color: stencilColor('color-men-design-primary-1');
                        }
                    }
                }
            }
        }

        .form {
            .form-field {
                .form-label {
                    color: stencilColor('color-men-design-primary-1');
                }

                .form-radio,
                .form-checkbox {
                    &~.form-label {
                        color: stencilColor('color-men-design-neutral-1');
                    }
                }

                .form-radio {
                    &~.form-label {
                        &::before {
                            border-color: stencilColor('color-men-design-primary-1');
                        }
                    }

                    &:disabled {
                        &~.form-label {
                            &::before {
                                border-color: stencilColor('color-men-design-primary-2');
                                background-color: stencilColor('color-men-design-primary-4');
                            }
                        }
                    }
                }

                .form-checkbox {
                    &~.form-label {
                        &::before {
                            border-color: stencilColor('color-men-design-primary-2');
                        }
                    }

                    &:disabled {
                        &~.form-label {
                            &::before {
                                border-color: stencilColor('color-men-design-primary-2');
                                background-color: stencilColor('color-men-design-primary-4');
                            }
                        }
                    }
                }

                input[type="checkbox"]:checked {
                    &~.form-label {
                        &::before {
                            background-color: stencilColor('color-men-design-neutral-1');
                        }
                    }

                    &:disabled {
                        &~.form-label {
                            &::before {
                                border-color: stencilColor('color-men-design-primary-2');
                                background-color: stencilColor('color-men-design-primary-2');
                            }
                        }
                    }
                }

                input[type="radio"]:checked {
                    &~.form-label {
                        &::after {
                            border-color: stencilColor('color-men-design-primary-2');
                            background-color: stencilColor('color-white');
                        }
                    }

                    &:disabled {
                        &~.form-label {
                            &::before {
                                border-color: stencilColor('color-men-design-neutral-1');
                            }

                            &::after {
                                background-color: stencilColor('color-men-design-neutral-1');
                                border-color: stencilColor('color-men-design-neutral-1');
                            }
                        }
                    }
                }

                .form-input,
                .form-select {
                    background-color: stencilColor('color-white');
                    border-color: stencilColor('color-men-design-primary-1');
                    color: stencilColor('color-men-design-primary-1');

                    &::placeholder {
                        color: stencilColor('color-men-design-primary-3');
                        border-color: stencilColor('color-men-design-primary-1');
                    }

                    &:focus {
                        color: stencilColor('color-men-design-primary-1');
                        border-color: stencilColor('color-men-design-primary-1');
                    }

                    &:active {
                        color: stencilColor('color-men-design-primary-1');
                        border-color: stencilColor('color-men-design-primary-1');
                    }
                }

                .form-select {
                    color: stencilColor('color-men-design-primary-3');

                    option {
                        color: stencilColor("color-men-design-neutral-1");
                    }

                    &:active {
                        border-color: stencilColor('color-men-design-primary-1');
                    }

                    &:valid {
                        color: stencilColor('color-men-design-primary-1');
                    }

                    &:focus {
                        color: stencilColor("color-men-design-primary-1");
                    }
                }
            }

            .form-field--checkbox {
                .form-label {
                    color: stencilColor('color-men-design-neutral-1');

                    &::before {
                        border-color: stencilColor('color-men-design-primary-2');
                        background-color: stencilColor('color-white');
                    }
                }

                input[type="checkbox"]:checked+.form-label {
                    &::before {
                        background-color: stencilColor('color-men-design-primary-1');
                        color: stencilColor('color-white');
                    }
                }
            }
        }

        .productView {
            .productView-customElements {
                .productView-customElement {
                    .productView-sizeGuide {
                        a {
                            color: stencilColor('color-men-design-primary-1');

                            &::after {
                                @include sizeGuide(stencilColor('color-men-design-primary-1'));
                            }
                        }
                    }
                }
            }

            .form-radio:checked+.form-option {
                border-color: stencilColor('color-men-design-primary-1');
                ;
            }

            .productView-description {
                .tabs-contents {
                    .tab-content {
                        color: stencilColor('color-men-design-neutral-1');
                    }
                }
            }

            .productView-subheading {
                color: stencilColor('color-men-design-neutral-1');
            }
        }

        .bp-category {
            .bp-category-header {
                .bp-cat-image {

                    &::before,
                    &::after {
                        background: stencilColor('color-men-design-primary-1');
                    }
                }
            }

            .navList-action--checkbox {
                &::before {
                    border-color: stencilColor('color-men-design-primary-1');
                }

                &.is-selected {
                    &::before {
                        background-color: stencilColor('color-men-design-primary-1');
                    }
                }
            }

            .facetedSearch {
                .clearBtn {
                    color: stencilColor('color-men-design-primary-1');
                }

                .facetedSearch-navList {
                    .accordion-block {
                        border-color: stencilColor('color-men-design-primary-2');

                        &::after {
                            background-color: stencilColor('color-men-design-primary-1');
                        }
                    }
                }
            }
        }

        .sidebarBlock+.sidebarBlock {
            border-color: stencilColor('color-men-design-primary-2');
        }

        .accordion--navList {
            .accordion-indicator {
                fill: stencilColor('color-men-design-primary-2');
            }
        }

        .pagination {
            border-color: stencilColor('color-men-design-primary-2');

            &::after {
                background-color: stencilColor('color-men-design-primary-1');
            }

            .pagination-list {
                .pagination-item {
                    &.pagination-item--current {
                        a.pagination-link {
                            .background-rot {
                                background-color: stencilColor('color-men-design-primary-1');
                            }
                        }
                    }
                }
            }
        }

        .blockElementStory {
            .heading-section {
                h1 {
                    color: stencilColor('color-men-design-primary-1');
                }

                .date {
                    &::after {
                        background: stencilColor('color-men-design-primary-1');
                    }
                }
            }
        }

        .blockElementDiscover {
            .discovery-section {
                .caption {
                    h1 {
                        color: stencilColor('color-men-design-primary-1');
                    }

                    p {
                        color: stencilColor('color-men-design-neutral-1');
                    }
                }
            }
        }

        .blockElementImageLeftCopyRight {
            .leftimageblock {
                .textSection {
                    .caption {
                        h1 {
                            color: stencilColor('color-men-design-primary-1');
                        }

                        p {
                            color: stencilColor('color-men-design-neutral-1');

                            &::before {
                                @include quotesOpen(stencilColor('color-men-design-primary-3'));
                            }

                            &::after {
                                @include quotesClose(stencilColor('color-men-design-primary-3'));
                            }
                        }

                    }
                }
            }
        }

        .blockElementVerticalGallery {
            .verticalBlock {
                .contentDiv {
                    .caption {
                        color: stencilColor('color-men-design-neutral-1');

                        &::before {
                            background: stencilColor('color-men-design-primary-1');
                        }
                    }
                }
            }

            .backgroundoverlay {
                background: stencilColor('color-men-design-primary-5');
            }
        }

        .divider, .sub-category-block {
            border-color: stencilColor('color-men-design-primary-2');

            &::after {
                background-color: stencilColor('color-men-design-primary-1');
            }
        }


        .imageWithContentSlider {
            ul {
                li {
                    .blockrow {
                        background: stencilColor('color-men-design-primary-1');
                    }
                }
            }
        }

        .imageWithContentSlider, .productSlider {
            .slick-prev::before {
                @include prevIcon(stencilColor('color-men-design-primary-1'));
            }
        
            .slick-next::before {
                @include nextIcon(stencilColor('color-men-design-primary-1'));
            }
        }
        
        .productSlider {
            h2 {
                &.heading {
                    .lastword {
                        color: stencilColor('color-men-design-primary-1');
                    }
                }
            }
        }

        .productGridslider {
            .slick-prev {
                &::before {
                    background: stencilColor('color-men-design-primary-1');
                }
            }

            .slick-next {
                &::before {
                    background: stencilColor('color-men-design-primary-1');
                }
            }
        }

        .product,
        .productCarousel-slide {
            .card-title {
                >a {
                    &.titleIcon {
                        &::after {
                            @include wishlist-icon(stencilColor('color-men-design-primary-1'));
                        }

                        &:hover {
                            &::after {
                                @include wishlist-icon-hover(stencilColor('color-men-design-primary-1'), stencilColor('color-men-design-primary-4'));
                            }
                        }
                    }
                }
            }
        }

        .blockElementCollectionPreview {
            .previewblock {
                .imagesection {

                    .leftImg,
                    .rightImg {
                        span {
                            &::before {
                                background: stencilColor('color-men-design-primary-1');
                            }
                        }
                    }
                }
            }
        }

        .productView-sizeGuide {
            display: none;
        }
        
        .custom-select__option--value {
            border-color: stencilColor('color-men-design-primary-1');
        }
    }
}