.pagination {
    border-top: 1px solid stencilColor("color-border");
    position: relative;
    padding-top: 25px;
    &::after {
        position: absolute;
        content: "";
        right: 50%;
        top: -2.5px;
        width: 4px;
        height: 4px;
        background: stencilColor("color-default-neutral-1");
        transform: rotate(45deg);
        outline: 3px solid stencilColor('color-secondary');
    }
    .pagination-list{
        .pagination-item {
            border: none;
            margin: 0 10px;
            &.pagination-item--current {
                border: none;
                a.pagination-link {
                    color: stencilColor('color-secondary');
                    border: none;
                    position: relative;
                .background-rot {
                        position: absolute;
                        content: "";
                        top: 3px;
                        left: 1px;
                        width: 20px;
                        height: 20px;
                        background: stencilColor('color-default-primary-1');
                        transform: rotate(45deg);
                        z-index: 0;
                    }
                    .number {
                        z-index: 9;
                        margin-top: 2px;
                        margin-left: -3px;
                        width: 15px;
                    }
                }
           }

           &.pagination-item--next  a.pagination-link {
                font-family: stencilFontFamily('default-font-bold');
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 15px;
                text-align: center;
                letter-spacing: 0.1em;
                text-transform: uppercase;
                color: stencilColor('color-default-neutral-3');
                position: relative;
                padding-right: 30px;
                &::after {
                    position: absolute;
                    right: 0;
                    content: "";
                    width: 20px;
                    height: 20px;
                    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMTQiIHZpZXdCb3g9IjAgMCAyMSAxNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0wLjYzNzAxNCA3LjY1MjE2QzAuMjgwMjg2IDcuNjUyMTYgMCA3LjM3MTg3IDAgNy4wMTUxNEMwIDYuNjcxMTYgMC4yODAyODYgNi4zNzgxMyAwLjYzNzAxNCA2LjM3ODEzSDE4LjIxODZMMTIuOTMxNCAxLjA5MDkyQzEyLjY4OTMgMC44MzYxMTEgMTIuNjg5MyAwLjQ0MTE2MyAxMi45MzE0IDAuMTg2MzU3QzEzLjE4NjIgLTAuMDY4NDQ4NCAxMy41ODExIC0wLjA1NTcwODEgMTMuODM1OSAwLjE4NjM1N0wyMC4xNjc5IDYuNTE4MjdDMjAuMzA4IDYuNjMyOTQgMjAuMzk3MiA2LjgxMTMgMjAuMzk3MiA3LjAwMjRDMjAuMzk3MiA3LjE4MDc3IDIwLjMyMDcgNy4zNTkxMyAyMC4xOTMzIDcuNDczNzlMMTMuODM1OSAxMy44MTg1QzEzLjU4MTEgMTQuMDYwNSAxMy4xODYyIDE0LjA2MDUgMTIuOTMxNCAxMy44MTg1QzEyLjY4OTMgMTMuNTc2NCAxMi42ODkzIDEzLjE2ODcgMTIuOTMxNCAxMi45MjY2TDE4LjIxODYgNy42NTIxNkgwLjYzNzAxNFoiIGZpbGw9IiMyODI4MjgiLz4KPC9zdmc+Cg==");
                    background-repeat: no-repeat;
                    top: 4px;
                }
           }
           &.pagination-item--previous  a.pagination-link {
                font-family: stencilFontFamily('default-font-bold');
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 15px;
                text-align: center;
                letter-spacing: 0.1em;
                text-transform: uppercase;
                color: stencilColor('color-default-neutral-3');
                position: relative;
                padding-left: 30px;
                &::before {
                    position: absolute;
                    left: 0;
                    content: "";
                    width: 20px;
                    height: 20px;
                    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMTQiIHZpZXdCb3g9IjAgMCAyMSAxNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0wLjYzNzAxNCA3LjY1MjE2QzAuMjgwMjg2IDcuNjUyMTYgMCA3LjM3MTg3IDAgNy4wMTUxNEMwIDYuNjcxMTYgMC4yODAyODYgNi4zNzgxMyAwLjYzNzAxNCA2LjM3ODEzSDE4LjIxODZMMTIuOTMxNCAxLjA5MDkyQzEyLjY4OTMgMC44MzYxMTEgMTIuNjg5MyAwLjQ0MTE2MyAxMi45MzE0IDAuMTg2MzU3QzEzLjE4NjIgLTAuMDY4NDQ4NCAxMy41ODExIC0wLjA1NTcwODEgMTMuODM1OSAwLjE4NjM1N0wyMC4xNjc5IDYuNTE4MjdDMjAuMzA4IDYuNjMyOTQgMjAuMzk3MiA2LjgxMTMgMjAuMzk3MiA3LjAwMjRDMjAuMzk3MiA3LjE4MDc3IDIwLjMyMDcgNy4zNTkxMyAyMC4xOTMzIDcuNDczNzlMMTMuODM1OSAxMy44MTg1QzEzLjU4MTEgMTQuMDYwNSAxMy4xODYyIDE0LjA2MDUgMTIuOTMxNCAxMy44MTg1QzEyLjY4OTMgMTMuNTc2NCAxMi42ODkzIDEzLjE2ODcgMTIuOTMxNCAxMi45MjY2TDE4LjIxODYgNy42NTIxNkgwLjYzNzAxNFoiIGZpbGw9IiMyODI4MjgiLz4KPC9zdmc+Cg==");
                    background-repeat: no-repeat;
                    top: -2px;
                    transform: rotate(180deg);
                }
            }
           a.pagination-link {
                color: stencilColor('color-text');
                border: none;
                font-family: stencilFontFamily('default-font-regular');
                font-style: normal;
                font-weight: 600;
                font-size: 12px;
                line-height: 15px;
                display: flex;
                align-items: center;
                text-align: center;
                letter-spacing: 0.1em;
                text-transform: uppercase;
                .background-rot {
                    position: absolute;
                    content: "";
                    top: 3px;
                    left: 1px;
                    width: 20px;
                    height: 20px;
                    background: stencilColor('color-white');
                    transform: rotate(45deg);
                    z-index: 0;
                }
           }
        }
    }
}