.productView-details {
    .form {
        [data-product-attribute="swatch"] {
            .form-label {
                position: unset;
                padding: 0;
            }
        }
    }
    .add-to-cart-wrapper {
        .form-field {
            .form-label {
                position: unset;
                padding: 0;
            }
            .form-increment {
                button {
                    max-width: 50px;
                }
                .form-input {
                    margin: 0 5px;
                }
            }
        }
    }
    .form-wishlist {
        #wishlist-dropdown {
            .button {
                &:hover {
                    background-color: stencilColor('color-theme');
                }
            }
        }
    }
    .size {
      display: none;
      .custom-select__option {
        display: none;
      }
    }
}


  .pdpimagemodal {
    display: none; 
    position: fixed; 
    left: 0;
    top: 0;
    z-index: 1000;
    width: 100vw;
    min-height: 100vh;
    overflow: auto;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
  }
  
  .pdpimagemodal .modal-content {
    margin: auto;
    display: block;
    max-width: 100%;
    object-fit: contain;
    object-position: top;
    width: 100vw;
    height: auto;
  }

  .pdpimagemodal .modal-content {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 30px;
    font-weight: normal;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .pdpimagemodal .modal-content {
      width: 100%;
    }
  }
