.retail-finder-title {
    font-weight: 800;
    // text-align: center;
}

.select-container {
    margin-bottom: 1rem;
}

.selector-dropdown {
    width: 10%;
}

.buttons-container {
    margin: 1rem;
}

.results-divider {
    background-color: lightgrey;
    padding: 1rem;
}

#retail-finder-results {
    background-color: #e3d8d8;
    margin: 1rem;
}