.product-type {
    .suits-product {
        .productView {
            .border::after {
                position: absolute;
                content: "";
                left: calc(50% - 12px/2 - 1px);
                bottom: -3px;
                width: 4px;
                height: 4px;
                background: stencilColor("color-men-design-primary-1");
                outline: 3px solid stencilColor('color-secondary');
                transform: rotate(45deg);
             }
            h1.productView-title {
                font-family: stencilFontFamily('prata-font');
                font-style: normal;
                font-weight: 400;
                font-size: remCalc(28px);
                line-height: remCalc(34px);
                color: stencilColor("color-default-neutral-1");
            }
            .productView-sizeGuide a {
                color: stencilColor("color-men-design-primary-1");
                &::after {
                    top: 3px;
                    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTMiIHZpZXdCb3g9IjAgMCAxNiAxMyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTUuNSAyLjUwMDczQzUuNSAxLjM5NjE2IDYuNjE5MjkgMC41MDA3MzIgOCAwLjUwMDczMkM5LjM4MDcxIDAuNTAwNzMyIDEwLjUgMS41MDA3MyAxMC41IDIuNTAwNzNDMTAuNSA0LjAwMDczIDggNC41MDA3MyA4IDUuNTAwNzNDOCA2LjAwMDczIDggNi4zODYxIDggNi4zODYxTTggNi4zODYxQzguMzc5MjkgNi4zODYxIDguNzU4NTggNi40OTM4MSA5LjA4OTk4IDYuNzA5MjJMMTQuNDY0NSAxMC4yMDI3QzE1LjUwNzggMTAuODgwOCAxNS4wMjc2IDEyLjUwMDcgMTMuNzgzMyAxMi41MDA3SDIuMjE2N0MwLjk3MjQxNCAxMi41MDA3IDAuNDkyMjA0IDEwLjg4MDggMS41MzU0NyAxMC4yMDI3TDYuOTEwMDIgNi43MDkyMkM3LjI0MTQyIDYuNDkzODEgNy42MjA3MSA2LjM4NjEgOCA2LjM4NjFaIiBzdHJva2U9IiM2NjcwODkiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8L3N2Zz4K);
                }
            }
        }
        .button--primary {
            background: stencilColor('color-men-design-primary-1');
            border: 1px solid stencilColor('color-men-design-primary-1');
            &:before {
                border: 1px solid rgba(255, 255, 255, 0.6);
            }
            &:hover {
                background: stencilColor('color-men-design-primary-2');
                border: 1px solid stencilColor('color-men-design-primary-2');
                &:before {
                    border: 1px solid rgba(255, 255, 255, 0.6);
                }
            }
        }  
        .button--secondary {
            border: 1px solid stencilColor('color-men-design-primary-1');
            color: stencilColor('color-men-design-primary-1'); 
            &:hover {
                background: stencilColor('color-men-design-primary-1');
                border: 1px solid stencilColor('color-men-design-primary-1');
                color: stencilColor('color-white');
            }
        }
        .blockElementStory .heading-section h2,
        .blockElementStory .heading-section .date,
        .blockElementStory .rightside-section .caption .content {
            color: stencilColor('color-men-design-primary-1');
        } 
        .blockElementLookbook .contentSection .caption {
            @include breakpoint("medium") { 
                left: 10%;
            }
        }
        .blockElementLookbook .contentSection .caption {
            .buttonlink,
            .content {
                color: stencilColor('color-men-design-neutral-1');
            }
            .buttonlink::after {
                background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMTQiIHZpZXdCb3g9IjAgMCAyMSAxNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0wLjYzNzAxNCA3LjY1MjE2QzAuMjgwMjg2IDcuNjUyMTYgMCA3LjM3MTg3IDAgNy4wMTUxNEMwIDYuNjcxMTYgMC4yODAyODYgNi4zNzgxMyAwLjYzNzAxNCA2LjM3ODEzSDE4LjIxODZMMTIuOTMxNCAxLjA5MDkyQzEyLjY4OTMgMC44MzYxMTEgMTIuNjg5MyAwLjQ0MTE2MyAxMi45MzE0IDAuMTg2MzU3QzEzLjE4NjIgLTAuMDY4NDQ4NCAxMy41ODExIC0wLjA1NTcwODEgMTMuODM1OSAwLjE4NjM1N0wyMC4xNjc5IDYuNTE4MjdDMjAuMzA4IDYuNjMyOTQgMjAuMzk3MiA2LjgxMTMgMjAuMzk3MiA3LjAwMjRDMjAuMzk3MiA3LjE4MDc3IDIwLjMyMDcgNy4zNTkxMyAyMC4xOTMzIDcuNDczNzlMMTMuODM1OSAxMy44MTg1QzEzLjU4MTEgMTQuMDYwNSAxMy4xODYyIDE0LjA2MDUgMTIuOTMxNCAxMy44MTg1QzEyLjY4OTMgMTMuNTc2NCAxMi42ODkzIDEzLjE2ODcgMTIuOTMxNCAxMi45MjY2TDE4LjIxODYgNy42NTIxNkgwLjYzNzAxNFoiIGZpbGw9IiMyODI4MjgiLz4KPC9zdmc+Cg==");
            }
        }
        
    }
    &.suitsProduct {
        .productView-description .tabs .tab.is-active::after,
        .divider::after,
        .sizeChart .how-to-mesure input:checked + .slider,
        .sizeChart .tabbed [type="radio"]:nth-of-type(1):checked ~ .tabs .tab:nth-of-type(1) label::after, 
        .sizeChart .tabbed [type="radio"]:nth-of-type(2):checked ~ .tabs .tab:nth-of-type(2) label::after, 
        .sizeChart .tabbed [type="radio"]:nth-of-type(3):checked ~ .tabs .tab:nth-of-type(3) label::after, 
        .sizeChart .tabbed [type="radio"]:nth-of-type(4):checked ~ .tabs .tab:nth-of-type(4) label::after, 
        .sizeChart .tabbed [type="radio"]:nth-of-type(5):checked ~ .tabs .tab:nth-of-type(5) label::after, 
        .sizeChart .tabbed [type="radio"]:nth-of-type(6):checked ~ .tabs .tab:nth-of-type(6) label::after {
            background: stencilColor('color-men-design-neutral-1');
        }
        .sizeChart .how-to-mesure .slider {
            border: 1px solid stencilColor('color-men-design-neutral-1');
        }
        .sizeChart .how-to-mesure .slider:before {
            background: stencilColor('color-men-design-neutral-2');
        }
        .sizeChart .how-to-mesure .action .viewtext,.sizeChart .tab:hover label {
            color: stencilColor('color-men-design-neutral-1');
        }
    }
}