<div class="productView-customElement f">
    <div class="productView-availability">
        <div class="productView-availability--inner">
            <!-- {{product.availability}} -->
            {{lang 'products.availableText'}}
        </div>
    </div>
    <div class="productView-sizeGuide" data-size-chart>
        <a href="" id="sizeGuide">
            {{lang 'products.size_guide'}} 
        </a>
        {{> components/products/custom/size-chart}}
    </div>
</div>
<div class="productView-customElement productView-customElement--button">
    <!-- <a 
        id="form-action-addToDressingRoom"  
        class="button button--secondary" 
        href="{{product.add_to_wishlist_url}}" 
    >
        {{lang 'products.add_to_my_dressing_room'}}
    </a> -->
    {{#if settings.show_wishlist}}
                        {{> components/common/wishlist-dropdown}}
                    {{/if}}
    <!-- <button 
        id="form-action-addToDressingRoom"  
        class="button button--primary" 
        type="button"
    >
        {{lang 'products.try_it_on'}}
    </button> -->
    {{assignVar "collection" (last product.category)}}
    {{#each product.category}}
        {{#startsWith 'Collections' this}}
            {{assignVar "collection" this}}
        {{/startsWith}}
    {{/each}}
    <a href='/retail-finder/?collection={{#with (split (trim (getVar "collection")) "/")}}{{last this}}{{/with}}' class="button button--primary custombuttontryon" >{{lang 'products.try_it_on'}}</a>
</div>