<div class="productView-customElement f">
    <div class="productView-availability">
        <div class="productView-availability--inner">
            {{product.availability}}
        </div>
    </div>
    <div class="productView-sizeGuide">
        <a href="">
            {{lang 'products.size_guide'}}
        </a>
    </div>
</div>
<div class="productView-customElement productView-customElement--button">
    <button 
        id="form-action-addToDressingRoom"  
        class="button button--secondary" 
        type="button"
    >
        {{lang 'products.add_to_my_dressing_room'}}
    </button>
    <button 
        id="form-action-addToDressingRoom"  
        class="button button--primary" 
        type="button"
    >
        {{lang 'products.try_it_on'}}
    </button>
</div>