<div class="productView-customElement f">
    <div class="productView-availability">
        <div class="productView-availability--inner">
            <!-- {{product.availability}} -->
            {{lang 'products.availableText'}}
        </div>
    </div>
    <div class="productView-sizeGuide" data-size-chart>
        <a href="" id="sizeGuide">
            {{lang 'products.size_guide'}} 
        </a>
        {{> components/products/custom/size-chart}}
    </div>
</div>
<div class="productView-customElement productView-customElement--button">
    <button 
        id="form-action-addToDressingRoom"  
        class="button button--secondary" 
        type="button"
    >
        {{lang 'products.add_to_my_dressing_room'}}
    </button>
    <button 
        id="form-action-addToDressingRoom"  
        class="button button--primary" 
        type="button"
    >
        {{lang 'products.try_it_on'}}
    </button>
</div>