<div class="sizeChart">
    <h2 class="title">{{lang 'products.size_guide'}}</h2>
    <p class="description"></p>
    <div class="tabSection"> 
        <div class="tabbed" id="sizecharttable">
            <!-- <input type="radio" id="bridala" name="css-tabs" checked>
            <input type="radio" id="bridalb" name="css-tabs">
            <input type="radio" id="bridalplussize" name="css-tabs">
            <input type="radio" id="bridesmaids" name="css-tabs">
            <ul class="tabs">
                <li class="tab"><label for="bridala">{{lang 'products.sizeguide.bridala'}}</label></li>
                <li class="tab"><label for="bridalb">{{lang 'products.sizeguide.bridalb'}}</label></li>
                <li class="tab"><label for="bridalplussize">{{lang 'products.sizeguide.bridal_plus'}}</label></li>
                <li class="tab"><label for="bridesmaids">{{lang 'products.sizeguide.bridesmaids'}}</label></li>
            </ul>
            <div class="tab-content" class="bridala" ></div> 
            <div class="tab-content" class="bridalb"></div>
            <div class="tab-content"></div>
            <div class="tab-content"></div> -->
        </div> 
    </div>
    <div class="how-to-mesure">
       <div class="heading">
         <h3>{{lang 'products.sizeguide.howtomesure'}}</h3>
         <div class="action">
             <span class="viewtext">{{lang 'products.sizeguide.viewvideo'}}</span>
             <label class="switch buttonOnOff">
                <input type="checkbox" id="viewvideocheckbox">
                <span class="slider round"></span>
              </label>
         </div>
       </div>
       <p class="caption">{{lang 'products.sizeguide.caption'}}</p>
       <div>
        <div class="imageblock">
            <img src="" id="howtomesureimg" />
            <p class="leftTop caption"></p>
            <p class="rightTop caption"></p>
            <p class="rightBottom caption"></p>
        </div>
        <div class="videoblock">
            <video controls id="sizechatvideo">
                <source src="" type="video/mp4">
                <source src="" type="video/ogg">
                Your browser does not support HTML video.
              </video>
        </div>
       </div>
    </div>
 </div>