<div class="sizeChart">
  <h2 class="title">Size Guide</h2>
  <p class="description"></p>
  <div class="tabSection">
      <div class="tabbed">
          <input type="radio" id="bridala" name="css-tabs" checked>
          <input type="radio" id="bridalb" name="css-tabs">
          <input type="radio" id="bridalplussize" name="css-tabs">
          <input type="radio" id="bridesmaids" name="css-tabs">
          <ul class="tabs">
              <li class="tab"><label for="bridala">BRIDAL A</label></li>
              <li class="tab"><label for="bridalb">BRIDAL B</label></li>
              <li class="tab"><label for="bridalplussize">BRIDAL PLUS SIZE</label></li>
              <li class="tab"><label for="bridesmaids">BRIDESMAIDS</label></li>
          </ul>
          <div class="tab-content" class="bridala" ></div> 
          <div class="tab-content" class="bridalb"></div>
          <div class="tab-content"></div>
          <div class="tab-content"></div>
      </div> 
  </div>
  <div class="how-to-mesure">
     <div class="heading">
       <h3>How to measure</h3>
       <div class="action">
           <span>View video</span>
           <span class="buttonOnOff"></span> 
       </div>
     </div>
     <p class="caption">We want to ensure that you have the perfect fit for your perfect day.</p>
     <div>
      <div class="imageblock">
          <img src="" id="howtomesureimg" />
      </div>
     </div>
  </div>
</div>