@font-face {
    font-family: "Inter Bold";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/Inter-Bold.ttf");
}
@font-face {
    font-family: "Inter Regular";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/Inter-Regular.ttf");
}
@font-face {
    font-family: "Inter Light";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/Inter-Light.ttf");
}
@font-face {
    font-family: "Prata";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Prata-Regular.ttf");
}
@font-face {
    font-family: "Stay Classy Duo Script Brush";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/StayClassyDuoScript_Brush.ttf");
}
@font-face {
    font-family: "Avenir";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/AvenirNextLTPro-Regular.otf");
}